[2019-01-23 14:24] vitusortner opened #1 "Create initial README"
It should contain something like:

The library is heavily influenced by the Room abstraction layer. As I wanted to stay in the housing terms and the database usually is the lowest layer of an application, the name Floor came to my mind.

[2019-01-23 14:24] vitusortner opened #2 "Mapping of a class to a create table statement"
Generate a SQL `CREATE TABLE` statement from an object (entity).

[2019-01-23 17:48] #1 closed, assigned to vitusortner

[2019-01-23 19:45] vitusortner opened #3 "Add license to project"
https://opensource.org/licenses

[2019-01-26 09:30] vitusortner opened #4 "Mapping between entity objects and table rows"
Let's just stick with SQLite natively supported types, except booleans, for now. Embedded objects and relations will get added later on.

Type mapping:
- `int` - INTEGER
- `double` - REAL
- `String` - TEXT
- `bool` - INTEGER (false = 0, true = 1)

[2019-01-26 09:34] vitusortner opened #5 "Enable custom name of an entity"
This should get enabled by using the `tableName` field of the `Entity` annotation.

[2019-01-26 09:36] vitusortner opened #6 "Enable custom mapping of a column"
This should include a custom column name and probably the ability for nullable and non-nullable columns.

This required some additional logic in `QueryMethodWriter`.

[2019-01-26 09:39] vitusortner opened #7 "Generate code for instantiating and opening the database"
It could be done similar to this:
[code]

[2019-01-26 09:42] vitusortner opened #8 "Support database migrations"
This also includes adding a version field to the database annotation.

[2019-01-26 09:44] vitusortner opened #9 "Support embedded objects"
An entity should be able to hold nested objects. There are different strategies for the implementation of this. One is, to embed all fields of the nested object in the surrounding object table.

[2019-01-26 09:53] vitusortner opened #10 "Generate code for database access functions"
Functions inside the database class (annotated with `@Database`), which are annotated with `@Query`,`@insert`,`@update` and `@delete` should get generated.
This task is dependent on #4, because the mapping between the in-memory objects and the table rows should happen in these functions.

- [x] query
- [x] insert
- [x] update
- [x] delete

Dependent #4

[2019-01-26 09:55] vitusortner opened #11 "Setup tests to check correctness of generated code"
Make sure to run these on a CI (Travis most likely).

[2019-01-26 15:59] vitusortner opened #12 "Ignore specific fields of entities"
`@Ignore` annotation has to get introduced for this.

[2019-01-26 22:34] #3 closed, assigned to vitusortner

[2019-01-26 22:40] #2 closed, assigned to vitusortner

[2019-01-26 23:08] #7 closed, assigned to nobody

[2019-01-31 16:29] vitusortner opened #16 "Query method writer should also handle constructors with named parameters"

[2019-02-02 00:13] #10 closed, assigned to vitusortner

[2019-02-02 00:13] #4 closed, assigned to vitusortner

[2019-02-05 20:24] vitusortner opened #23 "Support conflict strategies"

[2019-02-06 19:30] vitusortner opened #25 "Require Entity classes to be added to Database annotation"
This opens up the possibility to generate the required code for all entity classes even when they are located in a different file or directory. But this would probably also require a custom `Builder` to collect all entity `ClassElement`s.

[2019-02-07 19:31] #11 closed

[2019-02-08 10:16] vitusortner opened #30 "Investigate if there is the need to run every query in a transaction"
Do some benchmarks to find out the overhead of using transactions.

[2019-02-08 19:59] vitusortner opened #31 "Return empty list when requesting multiple items"

[2019-02-08 20:19] #31 closed

[2019-02-08 20:22] vitusortner opened #33 "Enable queries that don't return an entity"
This is required to allow queries like `DELETE FROM Person`.
**It is also required to return objects that are not entities when using `@Query()`.**

[2019-02-09 00:14] vitusortner opened #36 "Support inserting/updating/deleting lists"

[2019-02-10 14:43] vitusortner opened #37 "HashCode should not get mapped"

[2019-02-10 21:26] #37 closed

[2019-02-10 23:26] #6 closed

[2019-02-11 19:37] #5 closed

[2019-02-11 23:36] #36 closed

[2019-02-12 20:14] vitusortner opened #44 "Return last inserted ID/s"
Whenever inserting objects open up the possibility to return the inserted ID or IDs in case a list is getting inserted.
Investigate what Room returns on update and delete and decide if support these as well.

- [x] Insert
- [x] Update
- [x] Delete

[2019-02-12 20:18] vitusortner opened #45 "Support transactions"
Apply them by using `@transaction` annotation.

[2019-02-12 20:26] vitusortner opened #46 "Return streams for queries"

[2019-02-13 08:28] vitusortner opened #47 "Support relations with @Relation annotation"

[2019-02-13 08:28] vitusortner opened #48 "Support foreign keys"

[2019-02-14 00:16] #45 closed

[2019-02-15 15:39] vitusortner opened #50 "Throw Exception when too little parameters supplied for query"
E.g.
[code]

[2019-02-15 17:57] #44 closed

[2019-02-17 16:12] #50 closed

[2019-02-19 10:36] vitusortner opened #58 "Provide more query validation"
Right now there is some validation for queries. But all types of queries (SELECT, INSERT, UPDATE, DELETE) could be fully validated when generating the methods that implement them.

[2019-02-20 19:00] #48 closed

[2019-02-24 07:52] vitusortner commented on #33
This is party resolved. Methods annotated with `@Query` are now able to be of type `Future<void>`.

[2019-02-27 11:52] vitusortner opened #62 "Evaluate returning unmodifiable list for queries"

[2019-03-01 01:47] #23 closed

[2019-03-01 14:00] vitusortner opened #70 "Add codecov to enable test coverage data"

[2019-03-01 20:59] #8 closed

[2019-03-04 21:01] #46 closed

[2019-03-04 21:08] vitusortner opened #79 "Enable database access from DAOs"

[2019-03-05 19:45] vitusortner opened #80 "Initialize adapters in constructor of DAOs"

[2019-03-06 08:17] vitusortner opened #81 "Keep current database version when migration fails"

[2019-03-06 13:29] #79 closed

[2019-03-07 20:12] vitusortner opened #84 "Migrate existing value objects to processors"

[2019-03-09 02:58] #84 closed

[2019-03-09 03:08] vitusortner commented on #80
Got resolved by #85

[2019-03-09 03:08] #80 closed

[2019-03-09 03:11] #25 closed

[2019-03-09 16:58] vitusortner opened #87 "Support for SQLite indices"

[2019-03-10 12:17] vitusortner opened #91 "Replace the direct sqflite dependecies with a wrapper around them"

[2019-03-10 22:15] #87 closed

[2019-03-11 11:38] #62 closed

[2019-03-11 11:38] #30 closed

[2019-03-11 11:41] vitusortner opened #94 "Parse a query into an object"
Create `SqlParser` that returns a query object, which holds information about the query (SELECT, DELETE, etc.).
This is only required for queries annotated with `@Query`.

This is the first step in making returning the result of inserting, updating or deleting records possible.

[2019-03-12 10:00] vitusortner opened #96 "Support for kt.dart collections"

[2019-03-12 10:01] vitusortner opened #97 "Support for built_value immutable value types"

[2019-03-13 14:04] vitusortner opened #99 "Update example"

[2019-03-13 18:52] willgsoft commented on #12
Por favor introducir está etiquetada ya que hay campos que no se requieren en la base de datos.

[2019-03-13 23:14] vitusortner commented on #12
I'm on it! Will get released in a few days.

[2019-03-14 05:36] willgsoft commented on #12
Muchas gracias es algo importante en mis proyectos, otra cosa que veo que hace falta es el tipo de dato BLOB, revisando la documentación y el código fuente veo que no lo implementa, sería bueno que se agregara.

[2019-03-14 12:28] willgsoft commented on #9
Hola, de ante mano agradecer el gran trabajo que estás haciendo, en la librería room de Android siempre tuve un descontento y es que no se pudiera colocar usar variables solo para cargar dato de la consulta, ya que se debía colocar como un campo para que en la consulta lo tomará, esto es para el caso un join con otra tabla, no en todos los casos es necesario todo el objeto de otra clase, sería bue

[2019-03-14 20:04] vitusortner commented on #9
Hi @willgsoft! I'm happy to see your interest in the library and would like to help. Unluckily, my Spanish skills are mediocre and Google Translate didn't help this time.

I think it would be beneficial for me and others to keep the conversation in English.

[2019-03-15 14:41] vitusortner opened #100 "Support for defining a custom database file name"

[2019-03-16 15:18] willgsoft commented on #100
Hi, very necessary property.

[2019-03-21 03:53] willgsoft commented on #100
When does the update come out?

[2019-03-22 08:43] vitusortner commented on #100
Hi @willgsoft, I'm in the process of finalizing my thesis at the moment. Thus I'm very limited in time, which will change in a few days. PRs are welcome!

[2019-03-23 05:57] willgsoft commented on #100
Thank you man, I look forward to it.

[2019-03-23 05:59] willgsoft commented on #94
The Query needs to return simple data. (int, String, double, bool)

[2019-03-28 20:02] vitusortner commented on #94
Parsing SQL queries seems more tricky than expected. Unluckily I didn't find a package that could help with that.

[2019-03-28 20:39] cw-dev commented on #94
You might be interested in https://github.com/AlecStrong/sqlite-psi

It’s the backend for https://github.com/square/sqldelight

[2019-03-28 21:02] vitusortner commented on #94
@cw-dev thanks, I'll take a look at it!

[2019-03-30 12:52] vitusortner opened #105 "Add primary keys to @Entity annotation"
The `@Entity` annotation should have a new field `primaryKey`, which holds information about the key.

[2019-03-30 17:25] vitusortner opened #106 "StreamController is not closed after transaction has finished"

[2019-04-02 06:49] vitusortner opened #109 "Stream query method should return broadcast stream"

[2019-04-02 07:21] #109 closed

[2019-04-02 07:26] #99 closed

[2019-04-03 06:30] grappetite-ali opened #110 "Undefined StreamController, undefined PersonMapper"
After running command `flutter packages pub run build_runner build`, i am getting syntax error in database.g.dart file which is _undefined StreamController_ and undefined _PersonMapper_.

**pubspec.yaml**
[code]

**database.dart**
[code]

**person.dart**
[code]

**person-dao.dart**
[code]

[2019-04-03 07:10] vitusortner commented on #110
Hi and thanks for the report! The problem is caused by the missing `dart:async` import in the file where your database is defined. I'll update the README asap.

Did this solve the error?

[code]

[2019-04-03 07:15] grappetite-ali commented on #110
Yeah, i looked into the source code and found two issues. 1st one is that you just mentioned, it will solve undefined StreamController issue, and 2nd is to annotate your entity class with annotation `@Entity`, instead of `@entity`. It will fix issue of undefined PersonMapper error.
Please update this in doc too.

Thanks @vitusortner

[2019-04-03 07:31] vitusortner commented on #110
`@entity` is meant to work as well. A fix will be introduced with the next release.

[2019-04-03 08:19] grappetite-ali opened #113 "InsertionAdapter not found in generated database file."
I created entity with name `QuestionData` and set its table name as `questions`.
When i ran command `flutter packages pub run build_runner build`, it generated database file with function `_questionsInsertionAdapter` being called in insert method, but it declared `_questionDataInsertionAdapter` in class `_$QuestionsDao`, instead of declaring _questionsInsertionAdapter. It caused syntax error of `u

[2019-04-03 08:37] #110 closed

[2019-04-03 08:47] vitusortner commented on #113
Thanks for your report! I'm investigating the problem already.

[2019-04-03 16:35] #113 closed

[2019-04-08 10:03] #100 closed

[2019-04-08 11:44] vitusortner commented on #70
Got resolved by #117

[2019-04-08 11:44] #70 closed

[2019-04-13 03:58] windrunner414 commented on #16
Is there any plan to achieve it? It's a important feature

[2019-04-13 04:02] windrunner414 commented on #16
I have to write another facotry constructor to use named parameters now :(

[2019-04-13 13:29] Malrok opened #119 "Add support for DateTime type"
Hi,
I've stumbled upon your library, and being an Android developer I've loved the Room inspiration of it.
I've started introducing it in one of my project, and found out the DateTime type is not supported.
I think it would be great to add this datatype to the ones recognized by the library.
Thanks in advance

[2019-04-13 14:23] windrunner414 opened #120 "[Bug] generate sql with String column bug and suggest using parameter binding"
Now generated SQL is 'select * from user where id = $id'
It's best to generate like this
[code]

[2019-04-13 14:24] windrunner414 commented on #120
It can prevent SQL injection

[2019-04-13 14:33] windrunner414 commented on #120
It seems have a bug now.
[code]
it will throw a error `Parameters of method signature don't match with parameters in the query.`
if write
[code]
it can generate successfully but the generated sql is:
[code]
bookName is a String! but this sql does not have quote, it will get a sql compile error

parameter binding is the best solution.Don't need quote and no sql injection

[2019-04-13 22:52] vitusortner commented on #119
I've thought about introducing type converters similar how [Room](https://developer.android.com/reference/android/arch/persistence/room/TypeConverter.html) handles these conversions. This would open up the possibility of persisting data of custom date implementations, for instance.

[2019-04-13 22:57] vitusortner commented on #120
Thanks for your report! Using sqflite's parameter binding functionality seems to be a better fit, as you already suggested.

[2019-04-14 01:18] windrunner414 commented on #120
waiting for fix it, now i manually modify generated sql.Thanks for your work

[2019-04-14 17:48] #120 closed

[2019-04-14 17:50] vitusortner commented on #120
I've changed the implementation to use the mentioned argument binding functionality of sqflite, which will go into the next release.

[2019-04-14 19:09] vitusortner commented on #16
This feature definitely is planed for a future release of the package. Its implementation could be similar to how the developers of json_serializable realized this behavior ([encode](https://github.com/dart-lang/json_serializable/blob/master/json_serializable/lib/src/encoder_helper.dart), [decode](https://github.com/dart-lang/json_serializable/blob/master/json_serializable/lib/src/decode_helper.da

[2019-04-26 09:20] abhinavc opened #125 "(0.4.0) queryList - the parameter 'mapper' is required"
Hi,
Not sure if this is related to #113. But I have a simple DAO with the following query
[code]
However, I get the following compilation error
[code]
in the generated .part file
[code]
This started happening when I upgraded from 0.3.0 to 0.4.0. And I was upgrading because the code for inserting List<Sport> into the DB did not seem to be working in 0.3.0

[2019-04-26 11:23] abhinavc commented on #125
My bad. I forgot to change the `floor_generator: 0.4.0` dependency in `pubspec.yaml`

But I still can't seem to insert records properly. For example, the following seems to work
`Future<void> insertAll(List<Sport>)`

But when I try to retrieve the just-added records using
`Future<List<Sport>> getAll()`

all that I get is a list of records with every field `null`. Can't understand why

[2019-04-29 06:59] abhinavc opened #126 "(0.4.0) Syntax error in generated code for SQL IN clause"
Hi Vitus,

The following query
[code]

generates the following in the `.part` . Note the missing closing parenthesis in the query - (? instead of (?)

[code]
This causes the following run-time exception
`DatabaseException(near "?": syntax error (code 1): , while compiling: update sports set rated = 1 where id in (?) sql 'update sports set rated = 1 where id in (?' args []}`

[2019-04-29 07:07] abhinavc commented on #126
If this is a valid issue - and easily fixed - then would it be possible to get a hot-fix release?

[2019-04-29 07:08] abhinavc commented on #125
Problem was at my end - in the default constructor.

[2019-04-29 07:08] #125 closed

[2019-04-29 07:10] vitusortner commented on #126
Thanks for your report. I'll take a look at it later that day!

[2019-04-29 22:26] #126 closed

[2019-05-04 04:00] megasoft78 opened #130 "Allow query to return objects not entities"
Hi,
I'm using your amazing package for my first app on Flutter and I'm having an issue.
I want to query the data and return the result of these queries into some objects that are not table.

For instance if I want to have the result of a group by query like this one:

[code]

I need the possibility to setup a class like this:

[code]

I replaced the @Entity with @View as alternative to describe th

[2019-05-04 10:27] megasoft78 commented on #33
Hi,
I'm trying to run an update using `Future<void>` as return value but I need to pass 2 parameters to the query.
The autogenerated code is using:

`await _queryAdapter.queryNoReturn(`

but it's not passing any parameter. I need to pass 2 parameters that are required by the query.
How can I do it?

Thank you in advance. :)

[2019-05-04 10:34] megasoft78 opened #131 "Support for multilines queries or external resources"
Hi,
if I need to create a query a bit more complex it's difficult to keep it into a single line.
Dart support multi line String with """ but it's not working at the moment for the query.
It would be nice to have the possibility to provide the query as an external resource like a text file and use the query name as reference. Not sure is feasible.

Thanks in advance. :)

[2019-05-04 21:51] vitusortner commented on #33
Hi @megasoft78! This functionality is currently not supported. I will add it to the next release of the package.

[2019-05-04 21:53] megasoft78 commented on #33
Thank you. :)

[2019-05-04 22:10] vitusortner commented on #33
#132 introduces the new feature into the develop branch.

[2019-05-04 22:31] vitusortner commented on #131
I'm investigating the issue right now. The next release will also contain a fix for multiline strings of query annotations.
Could you make the following a bit more precise?

[2019-05-04 22:49] vitusortner commented on #130
Hi @megasoft78! I'm happy to see your interest in the package. To your first request: It's planned to support returning objects for queries that are not entities. #33 holds some more information about this feature request. To your second request: This behavior is also planned. #12 describes the feature.

I've seen you forked the repository. Do you plan on implementing the behavior? Would be great

[2019-05-05 03:44] megasoft78 commented on #130
Hi @vitusortner,
I'm new to Flutter and Dart as I mainly work on C# but I'm looking to implement #12.
My idea is to add a new annotation to ColumnInfo : readonly. I did that but I'm learning where to change the code in order to achieve this feature.
I'm looking for all the CRUD operations and skip the field with readonly annotation for Create, Update and Delete.
Could you give me some info on wher

[2019-05-05 03:55] megasoft78 commented on #131
Hi @vitusortner,
I think when the query became a bit more complex have multiline could be not enough.
The mix between code and sql will make the dao a bit messy.
I was thinking to have a separared text file for each query and in the dao the reference.
Here an example:

File for query : `/queries/students_count_by_room.txt`
[code]

dao :
@Query(getQuery('/queries/students_count_by_room.txt'))
Futur

[2019-05-05 14:44] megasoft78 commented on #119
I found a workaround for now using the dart built-in features :
- var milliseconds = DateTime.now().millisecondsSinceEpoch
- DateTime.fromMillisecondsSinceEpoch(milliseconds)

Not sure why DateTime is not supported. I think SQLite support it as format.
@vitusortner  Do you have some technical limitation here? Why do you need to convert?

[2019-05-05 15:50] megasoft78 opened #134 "Autogenerate query entity by primary key"
I think it could be useful to autogenerate the query to read entity by primary key.
We can change the following:
[code]
with this:
[code]

We can do a similar thing for foreign key table.
We can change the following:
[code]
with this:
[code]

What do you think?

[2019-05-06 18:38] vitusortner commented on #119
`DateTime` is not supported by sqflite (the database access layer).

Type converters might seem like an overkill for such an easy mapping between milliseconds and Dart's `DateTime`. They surely simplify the interaction with the database. Nevertheless, type converters come in even more handy when thinking about other conversions. For example, whenever an enum value should get stored. It's nicer to

[2019-05-06 18:51] megasoft78 commented on #119
Yes, make sense. :)

[2019-05-10 09:36] vitusortner commented on #134
I definitely see the appeal in this functionality. I'm still uncertain about the naming of these annotations. I'll have a second thought about it. Nevertheless, I would love to get the current API to a stable level before introducing new functionality.

The feature could also get expanded to simplify the retrieval of all rows of a specific table. E.g.

[code]

[2019-05-10 10:10] megasoft78 commented on #134
Hi,
maybe we can use a single annotation for everything:

[code]

This will make it very flexible as you can use as much parameters as you like to retrieve the entity/entities
What do you think?

[2019-05-20 16:59] rosstimothy opened #142 "Query can't use method parameter more than once"
Title says it all..

`@Query('SELECT * FROM my_table WHERE column_a like :my_param or column_b like :my_param')`

results in

`SQL query arguments and method parameters have to match.`

Looks like the generator doesn't take into account a parameter of the same name being used more than once in the query.

[2019-05-21 16:42] rosstimothy opened #143 "Support IN clause."
Entity:
[code]
Generates
[code]

Which throws causes sqflite to throw an exception.

Manually edited code working code:
[code]

[2019-05-21 20:40] vitusortner commented on #142
I've decided some time ago to make use of sqflite's parameter binding capabilities. A clear downside is the behavior you mentioned. At that time I wasn't able to come up with a solution that solves this issue while still using parameter binding. I'll revisit the code and will report back here.

[2019-05-21 20:42] vitusortner commented on #143
Using the `IN` capabilities of SQLite databases bring great power. I'll try to add the feature to the next release.

[2019-05-24 20:25] #105 closed

[2019-05-24 21:42] #131 closed

[2019-05-24 21:42] vitusortner commented on #131
Closing issue for now because multiline queries are supported now and it's not planned to implement the functionality for supporting external queries.

[2019-05-30 10:19] abhinavc opened #145 "(0.5.0) Update with IN not working"
Hi Vitus,
Not sure if this is related to #143. But the following query - when called - seems to have no effect

[code]
The generated code is
[code]
In my code, `rated` is a `boolean` column, which I want to set to `true` for rows with given `ids`. And I am doing it as follows

[code]
Am I doing something wrong / missing something?

Thanks
Abhinav

[2019-06-06 19:15] vitusortner commented on #145
Hi! Sorry for the late reply. Been quite busy over the last weeks. As you have already guessed, this behavior is related to #143. `IN` clauses are currently not supported but I've already started working on it. Thanks for your patience!

[2019-06-07 15:48] MahdiPishguy opened #146 "make simple helper for library to use from database"
how can i make simple database helper from this library to use that in applications like with this code:

my sample code:
in this code i can't access to taskDao from database. for example:
[code]
my `DatabaseHelper` class:

[code]

`main` class to use that:

    void main() async {
      var db = await DatabaseHelper.instance.database;
      //var dao = db.
    }

[2019-06-07 18:35] MahdiPishguy opened #147 "Use floor on ScopeModel"
I'm trying to implementing this library, below code work fine without any problem but i want to make `ScopeModel` from this implementation but in that `userDao.getUserInfo()` return `NULL`

**this implementation work fine:**

[code]

and my implementation for using `ScopeModel`

`UserDao` class:

[code]
`MyDatabase` class:

[code]

`DataBaseModel` class:

[code]

and use theme on widget class witc

[2019-06-08 11:22] #146 closed

[2019-06-13 04:59] abhinavc commented on #145
Hi Vitus,
Not to rush you. But by when do you expect to have this feature ready?

I'm just wondering if I should (a) implement a workaround for now OR (b) write queries as they would be (with IN) and then await the next version in which they'll work as expected

If it's a matter of only a little while, then it'll make sense to do (b). I'll then make allowances during testing accordingly. But if it

[2019-06-13 16:05] MahdiPishguy opened #148 "BUG in FloorGenerator - type 'String' is not a subtype of type 'int' in type cast"
**I'm using latest version of this library**

FloorGenerator couldn't create correct type of my columns

in my user class i have `experience` as string

my `User` class:

[code]
after generating this class into `app_database.g.dart` this column is `int` :|

[code]

and `oncreate` method:

[code]

[2019-06-13 16:05] #147 closed

[2019-06-13 16:19] vitusortner commented on #148
Thanks for the report! For now, could you try to have the fields in the same order as they are defined in the constructor of the class? I'm aware that this doesn't scale well and makes it easy to introduce additional bugs. But it should solve the issues you're having.

It's on my agenda to make this part of the code generation more stable.

[2019-06-14 06:16] MahdiPishguy commented on #148
i change fields as same type and orders, but i have this problem too,

**columns**

[code]

and generated fields

[code]

[2019-06-14 08:48] vitusortner commented on #148
What I meant can be seen in the following. I've made the fields of the class appear in the same order as they are listed in the constructor. Does this fix your problem?

[code]

[2019-06-14 09:07] MahdiPishguy commented on #148
@vitusortner,I think by this order on constructor problem solved :)

[2019-06-14 10:39] MahdiPishguy opened #149 "update stream"
you suppose i create simple user in main function and other widget i have `StreamBuilder` for getting user information.

after create user in main function i have have another method to update some fields of this user. now in other widget witch i have `streambuilder`, getting user info don't trigger and i have to restart widget or view to get updated user's info

main function:

[code]

and nested

[2019-06-14 11:28] vitusortner commented on #149
Could you also add the code of your `UserDao`?

[2019-06-14 11:36] MahdiPishguy commented on #149
@vitusortner

[code]

[2019-06-16 08:45] vitusortner commented on #149
How's the `UserDao.getUserStream()` method defined?

[2019-06-16 10:56] MahdiPishguy commented on #149
@vitusortner

[code]

and `userDao.getUser();` is:

[code]

[2019-06-16 11:04] vitusortner commented on #149
That looks fine to me. What does `DbModel.create()` do?

[2019-06-16 11:28] MahdiPishguy commented on #149
@vitusortner

[code]

[2019-06-16 12:16] vitusortner commented on #149
It creates a new database instance every time `create()` is invoked. That is where the problem lies. Please make sure to reuse your database instance. This way, `Stream`s also will work.

[2019-06-16 14:01] MahdiPishguy commented on #149
@vitusortner ok let me to implementing that with another approach

[2019-06-16 21:11] #143 closed

[2019-06-16 21:13] vitusortner commented on #145
I've just merged this feature into the main branch of the repository and will create a new release tomorrow.

[2019-06-16 21:13] #145 closed

[2019-06-17 20:53] vitusortner opened #152 "Reactivity is not retained when using transactions"
When using transactions (`@transaction`), a new database instance is created. While this is done, a new event bus is created which is responsible for propagating database table changes. Thus, as the event bus is not shared when doing a transaction, no changes are propagated.

[2019-06-17 21:18] #106 closed

[2019-06-17 21:18] #152 closed

[2019-06-17 21:19] #149 closed

[2019-06-21 21:02] DJafari opened #154 "query with like and percent sign"
how can run this query with floor ?

[code]

 when i using this :

[code]

after rebuild, in DataBase.g.part :

[code]

[2019-06-22 20:53] sanekyy opened #155 "TypeConverters feature"
Hello. Thanks for great ORM like Room:)
I hope that you already planing to implement TypeConverters support, but just in case I inform you that it will be a very useful feature and I will wait for it very much.

[2019-06-23 08:47] vitusortner commented on #154
It's possible to enclose the `%` characters in the input query but not in the query itself. An example can be seen in the following.

[code]

[2019-06-23 08:47] #154 closed

[2019-06-23 10:47] MahdiPishguy opened #157 "Bug!! inflicting versions of new update"
Because no versions of floor_generator match >0.5.0 <0.6.0 and floor_generator 0.5.0 depends on floor_annotation ^0.3.1, floor_generator ^0.5.0 requires floor_annotation ^0.3.1.
And because floor >=0.6.0 depends on floor_annotation ^0.4.0, floor_generator ^0.5.0 is incompatible with floor >=0.6.0.
So, because XXXXXXX depends on both floor ^0.6.0 and floor_generator ^0.5.0, version solving failed.

[2019-06-23 11:11] vitusortner commented on #157
Thanks for the report! I've missed updating the `floor_generator` version in the README to `^0.6.0`. Please do so in order to get the package up and running.

[2019-06-23 11:12] #157 closed

[2019-06-24 08:58] MahdiPishguy opened #159 "problem on using migration"
when i try to use migration i get `no such column` error and i'm not sure whats problem

added `bmi` to user entitiy.
added `bmi` to class constructor.
run `flutter packages pub run build_runner build` command.
adding
[code]
to ```app_database``` class

adding
[code]
to:
[code]
and then:

[code]

error:

[2019-06-25 23:14] DJafari opened #160 "crash on upgrading flutter"
after upgrade flutter to `1.7.10-pre.19` my app crashed on startup with this message :

[code]

i thinks it's occurred because of this commit

https://github.com/flutter/engine/commit/2c9e37c34e79475bbde7c8163eb5e56cdb9662a1

my setup for initialization :

[code]

this is crash when run your example :

[code]

[2019-06-26 08:44] MahdiPishguy opened #161 "reset database"
how can i reset all tables and database? deleting all entities and tables

[2019-06-26 10:56] DJafari commented on #160
@vitusortner i opened a issue in sqflite repository ( https://github.com/tekartik/sqflite/issues/233 )

thanks to @alextekartik this bug fixed in `1.1.6+1` version, please update this dependency and publish new version

thanks

[2019-06-27 18:03] vitusortner commented on #155
Hi! Thanks for your interest in the library. Type converters are definitely planned for a future release. Nevertheless, it's tough to say when it will be the case as I'm trying to get the library, as it is, in a stable state to finally release the first production-ready version.

[2019-06-27 18:03] #155 closed

[2019-06-28 08:04] vitusortner commented on #161
In that case it's the easiest to just delete the database file. An example on how to implement that with the help of sqflite's `deleteDatabase()` method can be seen in the following.

[code]

[2019-06-28 08:07] #161 closed

[2019-06-30 05:40] MahdiPishguy opened #162 "big problem on speed of get query from database"
after some week as using this library in our application we have a big problem on speed of getting query from database, you suppose we have this part of code:

[code]

and we suppose we have data in database and `User` table, what happen after run project in `debug` or `release` mode:

after running project we have `SECTION 1` or `SECTION 3` and after that, between 1 or 3 **seconds**!! we have `SE

[2019-06-30 10:33] MahdiPishguy opened #163 "BUG!! Error: The getter 'sqflite' isn't defined for the class"
after adding some table as entity i get this error:

**app_database.g.dart**

`error: The name 'sqflite.Database' isn't a type so it can't be used as a type argument. (non_type_as_type_argument at [diabetist_pro] lib\database\app_database.g.dart:54)`

[code]

[code]

[code]

[code]

[code]

result:

[code]

[code]

[2019-06-30 11:12] MahdiPishguy commented on #163
@vitusortner problem solved after adding

[code]

lines to app_database.dart

[2019-06-30 11:12] #163 closed

[2019-06-30 19:36] North101 opened #164 "primary key is assumed to be int for update and delete"
As the title. Everywhere else the primary key is fine but when using commands annotated with @update or @delete they error because it tries to cast the value to int when its not.

[2019-06-30 21:56] North101 commented on #164
I changed `final int primaryKey` to `final dynamic primaryKey` and `<int>[primaryKey]` to `<dynamic>[primaryKey]` in update_adapter.dart and deletion_adapter.dart and it works fine.

I'm still very new to dart and unfamiliar with the project so I won't open a PR as i'm unsure of any unknown consequences of that change.

[2019-07-01 05:09] MahdiPishguy commented on #164
@North101  witch version you are using now?

[2019-07-01 05:12] MahdiPishguy commented on #160
@DJafari Thanks in advance to report this bug of library

[2019-07-01 10:20] xiprox commented on #12
Hey! Thanks for the great package. Any updates on this?

[2019-07-01 10:44] xiprox opened #165 "Add support for type converters"
I read a mention of this in #119. I think it's a great idea.

I will be digging the code and seeing if I can help out, but thought I'd open this issue anyway.

Also, thanks a lot for the great library!

[2019-07-01 11:04] North101 commented on #164
I was using `floor: ^0.7.0`. I'm now using my own fork with the following commit: https://github.com/North101/floor/commit/23392ed2f162990cef57d47e0d83388b1ce75d12

[2019-07-01 14:03] MahdiPishguy opened #166 "Reset database without deleting database file"
@vitusortner with this method i want to delete all data into database and tables. not database file. after that i have to create database file

[code]

[2019-07-01 19:22] vitusortner commented on #164
Hi @North101! The changes you've done look fine. Would you mind opening a PR so we could merge these into the library?

[2019-07-01 20:31] vitusortner commented on #165
Hi. That sounds great! If you have questions about the structure of the library, just open a PR of the current state of your development or add them here. You can find a small wiki on the feature in the following.

# Type Converters

Type converters allow translating data right before inserting and after reading it in order to make the values storable in the database. For instance, an entity might

[2019-07-01 20:33] vitusortner commented on #162
Hi @MahdiPishguy. I'm unsure where these problems could originate from and will come back to you whenever I found out more.

[2019-07-01 20:34] vitusortner commented on #159
Thanks for your report. I'll report back as soon as I localized the source of the problem!

[2019-07-01 22:13] North101 commented on #164
Done. You may also want to restrict PrimaryKey(autoGenerate=true) to ints (if possible)

[2019-07-02 09:05] MahdiPishguy opened #168 "BUG!! order by alwayes is ASC"
in this query from database i' trying to use order by, but ordering list is `ASC` always

[code]

[2019-07-02 13:02] vitusortner commented on #168
Hi, I think you also need to define the column whose values should get used for ordering. Like:

`SELECT * FROM Tickets ORDER BY **column** DESC`

[2019-07-02 14:03] MahdiPishguy commented on #168
@vitusortner

yes you have right, this column name as `id` can be default when we use order by?

[2019-07-02 14:27] vitusortner commented on #168
This would make things easier. But I don't want to introduce a changed version of SQL for querying Floor databases.

[2019-07-02 14:27] #168 closed

[2019-07-04 05:06] MrMonotone commented on #165
Type Converters will be really useful for other data types as well. I am looking forward to their implementation.

[2019-07-04 05:13] MrMonotone commented on #12
I am interested in this as well. I can use it as a workaround until Converters are implemented.

[2019-07-05 08:37] vitusortner commented on #166
So you just want to delete all data stored in the tables without modifying or removing the database schema (keep table structure)?

[2019-07-05 08:44] MahdiPishguy commented on #166
@MahdiPishguy yes, for example `.reset()`, delete all table's data

[2019-07-05 12:54] vitusortner commented on #166
Such a function would be needed to get generated by the library. So there is no way to do this right now without implementing the delete functionality yourself. An example can be seen in the following. Let's keep the feature request open and let's implement it when there is time for it.

[code]

[2019-07-06 13:34] vitusortner commented on #160
Resolved by #169.

[2019-07-06 13:34] #160 closed

[2019-07-11 10:19] dkaera commented on #165
@vitusortner I found an alternative approach in `dart-lang/json_serializable library`. The main idea is using the type adapter as a static method declaration in the field annotation such as
`@JsonKey(fromJson: <convertation_to_model_method>, toJson: <convertation_to_primitive_method>)`
What do you think about this approach?

[2019-07-12 01:06] vladchuk commented on #12
Another vote for this. Any timeframe? Thanks!

[2019-07-12 07:35] vitusortner commented on #12
Unluckily not at that moment. I'll try to take a look at it as soon as possible.

[2019-07-16 02:16] rolends1986 opened #170 "sql format parameters error"
[code]
![image](https://user-images.githubusercontent.com/11939619/61260957-c7d2a980-a7b2-11e9-88ce-fd716906ca91.png)

[2019-07-16 09:09] sanekyy opened #171 "[BUG] Incorrect query compiling"
Hello.

Bug in query:
@Query('SELECT * FROM Dog WHERE name IN (:names)')
Future<List<Dog>> getAllByNames(List<String> names);

When arguments are substituted in query they are not wrapped in apostrophe ( ' ).

Compiled query for call getAllByNames(["name1", "name2]) will be:

'SELECT * FROM Dog WHERE name IN (name1, name2)'

bur right query is:

'SELECT * FROM Dog WHERE name IN ('name1', 'name2')'

[2019-07-16 17:21] #170 closed

[2019-07-16 19:38] vitusortner commented on #171
Thanks for your report! A fix for this will be delivered in the next release.

[2019-07-20 10:31] sanekyy opened #172 "[BUG] can't generate code"
Hello.

There is a sample entity:

![image](https://user-images.githubusercontent.com/18647037/61577592-549e9f80-aaf2-11e9-865a-45b065f29717.png)

and there is a sample dao with one query:

![image](https://user-images.githubusercontent.com/18647037/61577597-5e280780-aaf2-11e9-9b56-0c8c8982072b.png)

when I run build_runner build I got an error:

![image](https://user-images.githubusercontent.com/

[2019-07-20 10:38] xiprox commented on #172
Hey. Maybe, just maybe, but did you possibly miss the `part ...` line?

[2019-07-21 08:15] sanekyy commented on #172
What are you talking about?

[2019-07-23 07:24] MahdiPishguy commented on #168
@vitusortner i'm not sure this problem solved :(

[2019-07-23 07:41] MahdiPishguy commented on #47
the library can be support relation ship?

[2019-07-23 09:40] nafis042 commented on #172
@sanekyy  According to the documentation "**These queries have to return either a Future or a Stream of an entity or void**". That means as your entity name is "Dog", so return type of query must be "Future<`Dog`> or something like that.

[2019-07-23 13:48] MahdiPishguy opened #173 "BUG! JOIN not working on my queries"
i have two model as:

[code]
and

[code]

now i'm trying to make join between this models like with:

[code]
this query only return `sessions` table data

how can i resolve this problem?

[2019-07-23 16:22] MahdiPishguy opened #174 "Error running FloorGenerator"
**TIP:**
i don't change any database **name**, **fields**, **tables** and i don't add any table, i run only this command :

**flutter pub run build_runner build**

[code]

[2019-07-23 18:20] vitusortner commented on #173
What do you want to achieve exactly?

[2019-07-23 18:55] sanekyy commented on #172
Okay, thx.
Will this functionality appear in the future?

[2019-07-23 19:01] vitusortner commented on #168
What kind of problem are you experiencing?

[2019-07-23 19:02] vitusortner commented on #47
This is planned for a future release of the library. Unluckily, I can't tell when it's going to be.

[2019-07-23 19:06] vitusortner commented on #172
Query methods returning non-entity data types is planned to be in the first stable release of the library. You can follow the current status [here](https://github.com/vitusortner/floor/issues/33).

[2019-07-23 19:11] vitusortner commented on #174
What do your DAOs looks like?

[2019-07-24 05:43] MahdiPishguy commented on #173
@vitusortner

join two table `sessions`  and barcodes witch that `sessions.id` = `barcodes.sessionId` to get all data and ordering by id desc, for example:

[code]

[2019-07-24 09:12] MahdiPishguy commented on #174
@vitusortner

[code]

[2019-07-24 10:37] MahdiPishguy commented on #174
i found problem

that was:

`Future<List> getAllSessionsFuture();`

[2019-07-24 10:37] #174 closed

[2019-07-24 10:45] MahdiPishguy commented on #162
@vitusortner this is very big problem and my customers report that for me, i can set simple production for you to test that

[2019-07-24 17:49] vitusortner commented on #162
That would be great!

[2019-07-24 19:42] luis901101 opened #175 "Positional optional parameters of entities constructor"
With floor: ^0.7.0 and floor_generator: ^0.7.0 I can not use positional optional parameters in my entity constructors... the code generator always assume the parameters will be defined in the constructor... it will be great if the code generator for entities behaves like json_serializable builder... which accepts positional optional parameters and if constructor is empty then uses the individual s

[2019-07-25 18:23] vitusortner commented on #175
Thanks for your participation! This is planned for the first stable release of the library. As you said, I've thought about applying a similar mapping to what json_serializable uses. Thus, the implementation shouldn't be too complicated, as there is an example (json_serializable) already.

[2019-07-25 18:23] #172 closed

[2019-07-25 19:48] luis901101 commented on #175
Ok I'll be aware of the first stable version. Thank you

[2019-07-30 11:57] xiprox commented on #165
Finally got some time to look into this.

First of all, thank you for the tips. They have been really helpful as I've been studying the code.

Secondly, I have some questons. How would you approach priority? I was thinking dao function > dao > entity > database. What do you think? And how would you implement that? I would really appreciate some pointers here as well.

As for applying converters to

[2019-07-31 13:34] MahdiPishguy commented on #173
@vitusortner how can i use join and get all data from more tables?

[2019-08-01 15:30] winsonet commented on #161
but why I can't find the `deleteDatabase` method? I am using the 0.7.0 version

[2019-08-03 10:00] vitusortner commented on #165
@dkaera
The mentioned approach is pretty similar to the ones mentioned.
1. Some methods have to be defined
1. They have to get added to a specific scope they should be applicable to (field, DAO function, etc.)

Once converters have been realized for DAO function, DAO, entity and database scopes, it should be simple to also apply them to the scope of a field.

@xiprox
The mentioned order seems perf

[2019-08-07 09:05] pedromassango commented on #159
Hey guys. I would like to use this library in production. But with this issue it does not see a good idea. We have any update on this?

[2019-08-07 09:14] MahdiPishguy commented on #159
@pedromassango i don't use this library on our projects now, because of there are a lot of limits and we change that to sqflite without any orm, speed of floor is very slow and that cause of getting more problem on applications, i tested on over 10 application

[2019-08-07 19:05] pedromassango commented on #159
Thanks for the advice. Maybe the best orm today is Moor (https://github.com/simolus3/moor)

[2019-08-08 14:38] git-xbits commented on #12
Thank you for your package. It's amazing.
Have any idea for a timeframe? Every single model in my project have not mapped attributes aahhaha.
Unfortunately I don't good enough to help you.

[2019-08-20 22:25] jmccaull opened #177 "Support for check conditions"
I'm fairly new to Dart/Flutter/Sqlite so please bear with me, but I was trying to store some Enums in a side project when I realized that there currently is no support. After some digging, I'm pretty sure the best way to handle this is to set up a check condition on the column? I also figured it would't be much more difficult/different from the nullable property. Would there be any desire for addi

[2019-08-21 07:36] vitusortner commented on #177
Thanks for your contribution to the project!

Some questions that come to my mind:
- As we have a fully-featured programming language in place with Dart, which we could use for these types of checks, why would you still use SQLite checks?
- How do you plan on handling errors that might occur when a check constraint fails?
- Should check constraints on the table level also be available?

I'll revie

[2019-08-21 13:04] jmccaull commented on #177
After some thought, I don't really think this would be useful enums with the type converter - it would be a weird design requirement to need to know to include this property on an enum.
I agree that with good programming practices, the need for something like this is mitigated. I've been trying to find some recommendations toward good practice regarding them and haven't really found much. Putting

[2019-08-25 19:38] jerzykiler opened #179 "[BUG] Dao parameter used mutliple times causes generator error"
In code:
[code]
I used `:spec_id` twice and it caused:
[code]
If I use it only once then there is no error.

[2019-08-25 23:33] hjJunior opened #180 "[Question] How can I test my Dao?"
I've tried something like this, do you have any suggestions?

[code]

[2019-08-26 00:38] hjJunior commented on #180
Actually, I have done some research, and I just figured two things

1. The InMemoryDatabase the floor use Sqlite, so that means I can't execute by unit tests, since this depends to run on emulator
2. Flutter Driver cannot contain any package or reference to the main app, it runs in one Isolate and the test code in another.

I found too a workaround, which uses DataHandler, at this way, the driver

[2019-08-27 11:07] dkaera commented on #164
Hello guys! First I did the same fix, but I found a new one. Update/Delete adapter uses just first item from the primary key list. I have created PR with the fix. Could you review it and leave comments if it's needed. Thanks.

https://github.com/vitusortner/floor/pull/181

[2019-08-27 19:33] vitusortner commented on #180
You can take a look at the [database tests](https://github.com/vitusortner/floor/blob/develop/floor_test/test/database_test.dart) I have set up for verifying the library's behavior. They need to be run on either an emulator/simulator or a physical device. Also, they can't really be executed by a CI as they don't really produce a normal test output.

I'll take a look at running these tests with `Fl

[2019-08-27 19:36] vitusortner commented on #179
Right now, parameters can only be used once in a query. Thus, you would need to pass the same value to the function multiple time. Related issue #142

[2019-08-28 22:12] #164 closed

[2019-09-02 00:25] CiriousJoker opened #185 "@update fails on compound key"
Whenever I try to update a row consisting of 4 primary keys, I receive an error where multiple rows match the compound key even though one of 4 values are different. From what I see, only one of the keys is added to the where clause in the update function.

[2019-09-02 13:34] CiriousJoker opened #186 "ON DELETE CASCADE"
Is this supported? I didn't find anything in the documentation.

[2019-09-02 19:27] vitusortner commented on #185
This has already been fixed and will be included in the next release. (PR #182)

[2019-09-02 19:27] #185 closed

[2019-09-02 19:53] vitusortner commented on #186
You can find an example [here](https://github.com/vitusortner/floor/blob/169c5083e5d2e919e287c00ef5d8ea2706a0042d/floor_test/test/model/dog.dart#L12).

https://github.com/vitusortner/floor/blob/169c5083e5d2e919e287c00ef5d8ea2706a0042d/floor_test/test/model/dog.dart#L5-L16

[2019-09-02 19:53] #186 closed

[2019-09-04 22:07] CiriousJoker opened #188 "database objects can't extend classes"
This:
[code]
will not work. Every time I query for A, its id will be null. Doesn't matter if it's a primary key or a manually set value. However, interestingly it does query correctly, just the returned result is overwritten somehow.

[2019-09-05 05:05] JakubNeukirch commented on #174
I had the same problem, for future devs having this problem: generally it is about not specified type so when you dont want some dao method return anything you should use `Future<void>` instead of `Future`, for lists the same, `Future<List>` is not enough, it must be `Future<List<YourType>>`

[2019-09-09 10:19] alectogeek commented on #174
Having the same problem with Future<List<dynamic>>. Looks like I must specify the return data type and can't get it as dynamic and parse it later

[2019-09-09 10:30] vitusortner commented on #174
As more people seem to run into this problem, let's make it clear in the README that defining the full return type is required.

[2019-09-09 10:54] alectogeek commented on #174
I don't know why, but GitHub didn't show the full comment. Now it's ok, edited it adding spaces around 'dynamic'

[2019-09-09 11:01] alectogeek commented on #174
Btw, @vitusortner, how can I query a custom data type? Now I have 2 entities in 2 tables (let's say some entity and its metadata separately) and I need to join them and get data in DTO type

[2019-09-11 11:46] simolus3 commented on #94
I've written https://pub.dev/packages/sqlparser, which is a pure-Dart sql parser and static analyzer. Originally, it was written for another project, but it might be helpful to this library as well. It can turn any sql query into an AST (so you know whether it is an insert/update/select/etc.), so you could just do
[code]

If you know the table structure at build-time, you can also register availab

[2019-09-11 20:30] vitusortner commented on #94
This looks awesome and seems to be the right fit for the library's needs. Thanks @simolus3!

[2019-09-12 21:27] sanekyy opened #191 "Range constraints: Specify a minimum and maximim version."
Hello.
floor_generator depends on analyzer ^0.38.2.
When I use floor_generator 0.8.0 with built_value_generator 6.7.1 I got an error:

And because built_value_generator 6.7.1 depends on analyzer >=0.34.0 <0.37.0 and no versions of built_value_generator match >6.7.1 <7.0.0, floor_generator ^0.8.0 is incompatible with built_value_generator ^6.7.1.
So, because incognita depends on both built_value_ge

[2019-09-14 12:36] vitusortner commented on #188
I'll verify this behavior and provide a fix as soon as possible. Thanks for your report!

[2019-09-14 12:37] #177 closed

[2019-09-16 12:24] noordawod opened #193 "Support Enum<T> properties"
In typical DAO environments, at least how I like to architecture my apps, one tends to separate physical (file system) entities from app/memory models. Whereas the first use mostly scalar values and are saved/fetched from a physical storage (disk), the latter may use non-scalar values, for example enums or compound values, as these objects are likely to be manipulated in the app before being sent

[2019-09-16 15:44] noordawod commented on #193
Something similar was raised in #165 I see.

[2019-09-17 14:09] ReginFell commented on #191
I've faced with the same issue, not sure if ranged dependencies will be any better.
Now we have bottom constrains, with ranged will have top constraints as well.

Consider just changing the minimum applicable version for analyzer.
Looks like everything works fine with 0.34.0

https://github.com/vitusortner/floor/pull/194

[2019-09-24 19:45] vitusortner commented on #191
As @ReginFell mentioned, setting range constraints doesn't solve the problem. We could use a lower version of the analyzer package until built_value_generator is updated.
How do you handle such problems?

[2019-09-25 05:51] ReginFell commented on #191
Not sure if we can do anything to solve that.
A temporary solution is to  reduce min supported version to be aligned with built_value (I think the majority of applications use it so can't be ignored)

I think the core problem is in built_value that can't be updated to ^0.38.2 at the moment because it depends on analyzer_plugin which has a top constraint to 0.38.0.

I've made a PR to fix that and h

[2019-09-25 08:13] dbacinski opened #195 "floor_generator 0.8.0 - too strict dependencies"
After updating floor_generator from ^0.7.0 to ^0.8.0 I have started getting dependency resolution error.

Conflict seems to be with material_search.
[code]

[2019-09-25 08:17] dbacinski commented on #195
https://github.com/vitusortner/floor/blame/develop/floor_generator/pubspec.yaml
https://github.com/ianldgs/material_search/blob/master/pubspec.yaml

mockito 3.0 vs 4.0 might be a problem

[2019-09-25 08:21] dbacinski commented on #195
ahh I see it now, it is material_search issue which has `mockito` declared as `dependency:` instead of `dev_dependency:`

[2019-09-25 08:28] #195 closed

[2019-09-25 19:03] #191 closed

[2019-09-25 19:20] #171 closed

[2019-09-26 03:09] NareshKumarpn opened #197 "Update query"
How to use where condition inside Update query.  I want to update only one column with where condition

[2019-09-26 04:37] maheshmnj opened #198 "Does this ORM Support syncing Database"
It would be really helpful if this ORM supports some kind of way to sync the changes made to offline database ,when the device goes online.Is there any way to efficiently execute the persisting changes that were made to the database while it is offline to an online database

[2019-09-28 17:19] vitusortner commented on #197
To do this, you can use the `@Query` annotation as shown in the following.

[code]

[2019-09-28 17:24] vitusortner commented on #198
Such functionality is out of the scope of this library. Nevertheless, you could build the functionality yourself. I would approach the problem by using the [connectivity](https://pub.dev/packages/connectivity) package in order to monitor and react upon network changes.

[2019-09-28 17:24] #198 closed

[2019-09-30 05:35] grinder15 opened #199 "ForeignKeyAction.SET_NULL invalid create query output"
ItemEntity` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `name` TEXT, `categoryId` INTEGER, `price` REAL, `servingTypeId` INTEGER, FOREIGN KEY (`categoryId`) REFERENCES `ItemCategoryEntity` (`id`) ON UPDATE NO ACTION ON DELETE SET_NULL, FOREIGN KEY (`servingTypeId`) REFERENCES `ServingTypeEntity` (`id`) ON UPDATE NO ACTION ON DELETE SET_NULL)

It must be "SET NULL" not "SET_NULL"

[2019-10-01 15:50] alectogeek opened #200 "Impossible to return int value from COUNT(*)"
`[INFO] Generating build script...
[INFO] Generating build script completed, took 409ms

[INFO] Initializing inputs
[INFO] Reading cached asset graph...
[INFO] Reading cached asset graph completed, took 151ms

[INFO] Checking for updates since last build...
[INFO] Checking for updates since last build completed, took 1.1s

[INFO] Running build...
[INFO] 1.1s elapsed, 0/16 actions completed.
[INFO]

[2019-10-03 07:08] #197 closed

[2019-10-03 07:12] vitusortner commented on #199
Thanks for your report! A fix will be included in the next release.

[2019-10-03 08:04] #199 closed

[2019-10-04 07:12] vitusortner commented on #200
You need to define the return type of each DAO functions explicitly.`Future` is not enough. The fixed version of your query methods can be seen in the following.

[code]

Please report back if that has fixed the problems.

[2019-10-04 10:07] alectogeek commented on #200
Oh, excuse me, it was just a typo. I always define types and I have also tried with Future<int>, but always see the following:
`
[SEVERE] floor_generator:floor_generator on lib/data/db_configs/AppDatabase.dart:
Error running FloorGenerator
NoSuchMethodError: The getter 'name' was called on null.
Receiver: null
Tried calling: name
`
There is a method in the package's source code that tries to get a

[2019-10-08 16:25] alectogeek commented on #200
I guess I've found the cause! I've been trying to execute the raw query exactly in entityDao instead of calling appDatabase.query('sql'). It wasn't obvious to me :)

[2019-10-11 08:38] bshka opened #205 "Add changeListener to queryAdapter event if there are no stream return types in dao"
I'm using pagination on my screen and I used `future` from loading pages. Also I need `changeListener` for updating my data on the fly, but it didn't work without defining at least one method with` stream` return type.

As I checked generated sources it seems that `QueryAdapter` initialized with` changeListener` only in case when there are methods that returns `stream`.

Can you please change it s

[2019-10-13 14:12] xzhorikx commented on #188
@vitusortner thanks for all the work you've put into this library! I didn't want to create a separate issue since my question is pretty related to topic, so I think I'll ask here: can `@Entity` objects be extended from "Base classes"?

In my case I have a base class for all entities that are stored in local DB
[code]

And I'd like to extend this class in all DB entity classes

[code]

When running

[2019-10-13 16:46] xzhorikx opened #206 "[BUG] [Floor generator] Missing concrete implementation of getter"
Hi!

I'm currently implementing database using floor and ran into the issue related to `floor_generator`.  I've created abstract database class as per documentation and it has following structure:

[code]

when `flutter packages pub run build_runner build` is complete it generates `database.g.dart` file which has incomplete `$AppDatabase` class.

[code]

Generated class lacks following code:
[code

[2019-10-13 17:11] xzhorikx commented on #206
Found the issue:  my class `AuthUserDao` wasn't marked with `@dao` annotation.

[2019-10-13 17:11] #206 closed

[2019-10-14 19:32] vitusortner commented on #188
@xzhorikx currently, yes. I already started investigating and thinking about possible solutions for that problem though.

[2019-10-15 05:30] maxbhoria opened #207 "Getting error while initializing FloorAppDatabase"
Hello i getting error on this line please update me what to do

await $FloorAppDatabase.databaseBuilder('flutter_database.db').build();

[2019-10-15 07:03] vitusortner commented on #207
What's the error?

[2019-10-15 16:23] maxbhoria commented on #207
its resolved now thank you

[2019-10-15 16:23] #207 closed

[2019-10-17 13:38] SergeiMikhailovskii commented on #200
Faced with the same situation. Where did you place this line? appDatabase.query('sql'). Thanks in advance!

[2019-10-17 14:22] alectogeek commented on #200
`AppDatabase _appDatabase = await $FloorAppDatabase.databaseBuilder('app_database.db').build();
Map<String, dynamic> anyQuery = await _database.database.rawQuery('your sql', [arguments]);`

Hope, it's clear now. If you have any difficulties, feel free to ask!

[2019-10-17 14:31] SergeiMikhailovskii commented on #200
@alectogeek , so, I can't create a query with SUM in annotation, as I understand?

[2019-10-17 14:48] alectogeek commented on #200
@SergeiMikhailovskii Why not?
let's assume we have a table called 'bill' with fields [id, amount], then:
`
final int numbersSum = await _database.database.rawQuery('SELECT SUM(amount) FROM bill')['SUM(amount)'];
`
You just receive a map with needed fields. If you provide an alias in your sql query, you can use that as the key of map instead of 'SUM(amount)'.

Highly recommend you to take a look to

[2019-10-17 16:08] alectogeek commented on #200
@SergeiMikhailovskii No, from DAO you can return only that data type, for which dao was created.
But you still can do that by the direct raw query (including using WHERE clause and ":_date" as an argument)

[2019-10-17 16:10] SergeiMikhailovskii commented on #200
@alectogeek yes, got it, thanks a lot!

[2019-10-17 16:11] alectogeek commented on #200
Но было бы неплохо, если бы завезли прямо в DAO, да :)

[2019-10-19 12:57] alectogeek opened #208 "Can't build om master branch"
If I run `flutter packages pub run build_runner build --delete-conflicting-outputs --verbose` on master (v1.10.14) branch, I see the following problem

[code]

[2019-10-20 20:21] alectogeek opened #209 "Error when List<int> used as query arguments"
My function is:
[code]

Error:
[code]

Generated by floor function:
[code]

[2019-10-21 11:20] rimidalv opened #210 "In memory"
if you open database in-memory ($FloorAppDatabase.inMemoryDatabaseBuilder().build();)
in current implementation has a BUG.

in source code this moment doesn't work, because sqlite open database by the path.

[code]

but if we change this code (path -> ':memory:') to

[code]

all works good.

[2019-10-25 11:42] vitusortner commented on #209
Thanks for your report! You seem to be missing the parenthesis surrounding `:ids`.

[code]

[2019-10-25 11:42] #209 closed

[2019-10-25 11:49] vitusortner commented on #210
Good find @rimidalv! I'll provide a fix as soon as possible.

[2019-10-25 12:57] erluxman opened #211 "Incompatibility with inject_generator."
So the floor_generator does not seem to be compatible with inject_generator.

Is there any work around ?

[2019-10-25 22:15] #210 closed

[2019-10-25 22:16] vitusortner commented on #211
What's the error you're getting?

[2019-10-27 01:57] erluxman commented on #211
I fixed it by making a fork from the google repo and updating the analyzer version and then making a release of it. it fixed the issue for me.

You can you this inject git instead

https://github.com/erluxman/inject.dart

[2019-10-29 15:18] Chr1st-oo opened #213 "Question regarding about join"
I am just starting to learn your library and I think its pretty awesome.

I have a question though.
Suppose I have two Entities
[code]
And for example this will be my query on the DAO
[code]
How will I write the abstract method in the DAO so that it can take all the required values? Right now I'm thinking of using two queries (without using the join) and the other is creating another class (not En

[2019-10-31 16:47] abhinavc opened #214 "IN in CASE"
Hi Vitus,
Am using `0.6.0` (not `0.9.0`) and was trying to implement the following today.

[code]
where `id` is the primary key and `column` is a `boolean` column in `table`.

Also tried
[code]
Kept getting a SQL compilation error when `ids.isEmpty`.

Hence, was wondering if this is even valid SQL. I couldn't find any documentation that said this wasn't. And if it is indeed valid, then is it / can

[2019-11-01 12:29] erluxman opened #215 "Sqlite Encryption"
Is there any way to encrypt the data with floor?

[2019-11-02 17:32] vitusortner commented on #215
Hi @erluxman. There currently is no way to do so.

[2019-11-02 17:52] vitusortner commented on #214
Hi @abhinavc. The second query seems to be the correct one. Are the names you've supplied in the examples above the actual ones? If so, you need to escape them by using backticks. See the SQL query at the bottom.

What is the error message you're getting?

[code]

[2019-11-02 17:57] abhinavc commented on #214
Hi Vitus,
The names are representative - not actual. But let me try with back ticks - though that is
something I haven't had to do till now.

[2019-11-03 09:58] #211 closed

[2019-11-04 17:25] alectogeek commented on #208
Are there any news?

[2019-11-05 07:54] rimidalv opened #217 "Update only one (or selected) columns"
Hello. Can I update only one or several current fields in a TABLE?
If NO, could you add this feature?

Thank you.

[2019-11-06 03:28] zzd258147 commented on #215
@erluxman You can use my fork: https://github.com/zzd258147/floor/tree/sqlcipher

Example:
[code]

[2019-11-06 12:46] SergeShkurko commented on #180
@vitusortner when i write simple test:
[code]

I receive exception in CLI:
[code]

What could be the problem?

[2019-11-08 08:19] vitusortner commented on #217
Hi @rimidalv. In order to update, for example, the `name` column of a row that is stored in a `person` table (attributes: `id`, `name`), you can use the `@Query` annotation as shown in the following.

[code]

[2019-11-10 12:20] rimidalv commented on #217
Oo. Great. I'll try. Thank you.

[2019-11-10 12:20] #217 closed

[2019-11-11 07:38] abhinavc opened #220 "Need to be able to @Ignore fields"
Hi Vitus,
I have a database model for which I'm trying to define equality (overload `operator==`) using the `Equatable` package.

`Equatable` requires the following changes in one's model:
[code]
where `props` is the list of data members that must be equal for two objects to be considered equal.

Problem is the `get props` line. `Floor`'s generator function seems to think that this is a database c

[2019-11-11 08:11] abhinavc commented on #220
Vitus,
For now, I have stopped using `Equatable` and overloaded `==` in whichever classes I needed to. So, no rush from my side. However, `@Ignore` would be useful ;-)

Thanks
Abhinav.

[2019-11-12 09:03] hammad-tariq opened #221 "Flutter Column type not supported"
I am using Floor library for persisting dart model classes. and I am facing this problem.

List<String> column type not supported and dynamic column type not supported.

[2019-11-13 14:28] alectogeek commented on #221
@hammad-tariq Please provide code, where this problem occurs. Also, provide an output of `flutter doctor -v`

[2019-11-20 16:18] ReniDelonzek opened #222 "Is there / will support be implemented for web / desktop flutter?"
I found nothing about in the documentation

[2019-11-22 05:34] ramsestom commented on #188
any news on this?

[2019-11-23 05:51] abhinavc commented on #214
Hi Vitus,
Sorry, got side-tracked with some other work. But coming back, the update query is doing nothing at all. Using actual names, I have the following defined in my DAO

[code]

And to test, I did the following in my code. No change `(after)` providing an `id`

[code]

I can work around this issue by breaking the update query into 2 steps - unsetting all rows and then setting `has_target =  1

[2019-11-23 07:14] abhinavc commented on #214
Noticed the following run-time error though upon fresh re-build (`flutter clean + run`).
`has_target` is a `boolean` column. Not sure if it has any bearing

[code]

[2019-11-29 00:52] erluxman commented on #215
@zzd258147  thanks a lot

[2019-12-02 20:09] #215 closed

[2019-12-06 05:32] abhinavc opened #223 "[0.6.0] Incorrect generated query if updating multiple columns"
Hi Vitus,
Not sure if this has been fixed in later releases. But I noticed that in `0.6.0` at least, the following
[code]
results in the following raw query. Note that there should be commas between the
various arguments

[code]

[2019-12-06 05:43] abhinavc opened #224 "[0.6.0] Arguments mapped incorrectly in raw query"
Hi Vitus,
Using the same example as in #223, I also noticed that arguments were being mapped *positionally* and not as per the names they were given in the query

So, the following in the DAO
[code]
results in the following

[code]

The issue is with `arguments`. It should be `arguments: <dynamic>[rating, hasTarget, numResults, id]`

I have been assuming that the query string in DAO is parsed and

[2019-12-09 19:53] alectogeek opened #225 "transaction works incorrectly"
I have a method marked with @transaction annotation where I fetch some data from the network and do multiple inserts/updates via dao.insert/update (they marked as with @insert and @update methods accordingly). But if one of the operations is aborted, changes are not rolled back. What can cause the problem?

[2019-12-18 21:51] thorvalld opened #226 "[Question] How to use floor with "fragments" ?"
I am trying to use _floor_ **in multiple "fragments"** (pages) through out the project, how to do so?
(without using `runApp(...)` )

[2019-12-27 12:02] M9Apar opened #227 "Error running FloorGenerator Column type is not supported for num."
Can't assign var or num for variable datatype

[2019-12-29 12:25] windrunner414 opened #228 "Multiple platform support"
I know sqflite only support android/ios, so can u consider moor_ffi? it use dart:ffi and support windows/macos/linux/web, or provide a adapter interface not limited to sqflite
I prefer floor's API to moor's

[2020-01-10 07:18] aeronxie opened #229 "How can I stored a Image or Blob Object?"

[2020-01-10 09:27] vitusortner commented on #229
Storing BLOBs is currently not possible with floor.

[2020-01-13 22:17] sanekyy opened #230 "Floor generate INT column for bool field in entity"
Entity:

![image](https://user-images.githubusercontent.com/18647037/72296740-690bc100-366b-11ea-82b1-11bb634477c4.png)

Database generated code:

![image](https://user-images.githubusercontent.com/18647037/72296771-80e34500-366b-11ea-947d-d43c23304ac9.png)

But SQLite supports bool value.

[2020-01-14 07:46] sanekyy commented on #230
Misunderstood the documentation. I close issue.

[2020-01-14 07:46] #230 closed

[2020-01-17 13:26] finger-software opened #231 "Static fields should not be included in the mapping"
Currently the static fields are included in
1) Generated CREATE TABLE sql, and
2) Row data mapper.

As example,
[code]
The generated CREATE TABLE sql for this class looks like
`CREATE TABLE IF NOT EXISTS Entity  (tableName  TEXT, id INTEGER PRIMARY KEY AUTOINCREMENT, price REAL)`

And the row mapper is totally wrong:
[code]

[2020-01-17 21:00] Bwolfs2 opened #232 "Is this project stopped?"
I am trying to run with Mobx but there are errors in dependencies, and I saw that the project is not updated in 4 months.
![image](https://user-images.githubusercontent.com/4654514/72645780-2db31000-3953-11ea-9c80-e0363261405b.png)

[2020-01-19 12:15] vitusortner commented on #231
Good catch and thanks for opening a PR to tackle this problem that fast!

[2020-01-19 19:12] vitusortner commented on #232
The project is still maintained. I've recently been pretty busy and wasn't able allocate more time for this project.
I've updated all the dependencies, which will resolve the problem you're running into, and I'll release a new version as soon as possible.

[2020-01-19 19:13] #232 closed

[2020-01-20 08:42] careylee0127 opened #235 "can't generate code"
Here is my code;
@entity
class Step {
  @primaryKey
  int date;
  int step;
  int cal;

  Step(this.date, this.step, this.cal);
}

@dao
abstract class StepDao {
  @Query("SELECT * FROM Step")
  Future<List<Step>> all();

  @Query("SELECT * FROM Step WHERE id = :id")
  Future<Step> getById(int id);

  @Query(
      "SELECT sum(step),sum(cal),date FROM Step  WHERE date >= :begin and date <= :end GRO

[2020-01-20 09:02] careylee0127 commented on #235
I'm solved it

@dao
abstract class StepDao {
  @Query("SELECT * FROM Step")
  Future<List<Step>> all();

  @Query("SELECT * FROM Step WHERE id = :id")
  Future<Step> getById(int id);

  @Query(
      "SELECT sum(step),sum(cal),date FROM Step  WHERE date >= :begin and date <= :end GROUP BY strftime(\\\'%Y-%m-%d %H\\\',date) ORDER BY date")
  Future<List<Step>> getDaySteps(int begin, int end);

  @Q

[2020-01-20 09:02] #235 closed

[2020-01-22 19:01] vitusortner commented on #226
Unluckily, I have no experience with integrating Flutter modules into Android apps (I guess that's what you're trying to do?).

[2020-01-24 08:29] vitusortner commented on #227
Only `int` and `double` are currently allowed as number datatypes.

[2020-01-24 08:46] #227 closed

[2020-01-24 14:32] #231 closed

[2020-01-25 20:01] #96 closed

[2020-01-25 20:49] #148 closed

[2020-01-25 21:35] vitusortner commented on #175
Can you describe your use case in more detail, please? Adding a code sample could also be beneficial.

[2020-01-25 21:46] #12 closed

[2020-01-25 22:48] luis901101 commented on #175
There are several use cases that can benefit from positional optional parameters in constructors... for instance an entity that has some fields that are not required lets think about an entity Place which has an id(required not null), a latitude(required not null), a longitude(required not null), but a description(not required nullable)... it’s simple, i think positional optional parameters are us

[2020-01-31 11:16] vitusortner commented on #180
I've updated the project's README with information and instructions on testing https://github.com/vitusortner/floor#testing

[2020-01-31 11:16] #180 closed

[2020-01-31 17:39] vitusortner commented on #220
Closed by #248

[2020-01-31 17:39] #220 closed

[2020-02-03 11:18] hrishikeshd10 opened #254 "What is meant by In-Memory Database?"
I am new to mobile app development and flutter as well so I am not well versed with these terms so could you please explain me what do you mean by in-memory database?

[2020-02-03 18:45] technohowl opened #255 "Prepopulated Database"
Is there a way to use pre-populated database with floor? I did not find anything in the document.

[2020-02-04 18:26] vitusortner commented on #254
It's just being kept in memory and won't get persisted. Thus, the stored data won't be available after an app restart.

[2020-02-04 18:26] #254 closed

[2020-02-07 07:55] VadimOsovsky commented on #255
https://pub.dev/packages/floor#callback

just add onCreate callback and you're good to go

[2020-02-07 08:56] VadimOsovsky opened #256 "Support for defalutValue in @ColumnInfo"

[2020-02-09 13:22] mohamedahmedhassan00 commented on #221
i have the same issue . and this error refer to Object i used it in the entity

[2020-02-09 14:26] vitusortner commented on #255
Are you interested in pre-populating the database from a file?

[2020-02-09 14:35] vitusortner commented on #221
Floor doesn't support storing lists out of the box. Neither `dynamic` is supported as a column type.

In order to store and retrieve lists, you need to create a one-to-many relationship using [foreign keys](https://github.com/vitusortner/floor#foreign-keys) and retrieve related objects with an additional query.

[2020-02-09 14:36] vitusortner commented on #256
Hi! What's your exact use case for this?

[2020-02-09 15:10] mohamedahmedhassan00 commented on #221
Thank you for your response ❤️❤️

On Sun, Feb 9, 2020, 4:35 PM Vitus <notifications@github.com> wrote:

[2020-02-09 19:18] technohowl commented on #255
Yes, I wanted to know if it is supported?

[2020-02-10 19:12] krabbenprgr commented on #221
Column type is not supported for DateTime.
How to save a date in floor?
 Is there a option to add a typeconverter annotation as in room?

[2020-02-11 20:11] vitusortner commented on #221
Type converters are planned to be added (#165, #119), which will also make handling `DateTime` an ease.
In order to save dates as of now, you would need to convert them into integers and the other way round.

[code]

[2020-02-11 20:31] cassioseffrin opened #257 "missing file database.g.dart in examples folder"
Seems like the database.g.dart is missing

here is the complete log when I try to run the sample.

Compiler message:
lib/database.dart:9:6: Error: Error when reading 'lib/database.g.dart': No such file or directory
part 'database.g.dart';
     ^
lib/database.dart:9:6: Error: Can't use 'lib/database.g.dart' as a part, because it has no 'part of' declaration.
part 'database.g.dart';
     ^
lib/main.

[2020-02-12 09:22] nikpachoo commented on #257
@cassioseffrin, first you need to generate this file. Just run in project folder `flutter packages pub run build_runner build`.

[2020-02-12 10:21] mqus commented on #130
Hi! the current state of android development pushed me to flutter and yesterday I found your library which seems to perfectly replace room. I would really like to see the `@DatabaseView`s in floor like I had them in room:
[code]
I just got into flutter/dart yesterday, so I can't really help in implementing this but I would really like to see some progress here!

(I know, this is just a wordy +1, b

[2020-02-12 11:00] #257 closed

[2020-02-12 11:20] cassioseffrin commented on #257
I just realize that I have forget one step:

flutter packages pub run build_runner build.

This issue can be closed!

[2020-02-13 12:58] tulioccalazans opened #258 "Dao class is not generated properly with its base class"
Hi, I created a base class to have some basic functions for all my Dao classes like that:

[code]

And I used this class like that:

[code]

But the generated database file doesn't contain the base methods defined on BaseDao.
This kind of inheritance works fine on Android/Room. Can I do that with Floor? How?

If that is not possible, it would be a good feature to be added.
Floor is amazing!!

[2020-02-13 17:11] mqus commented on #229
How easy would it be to implement this? Would I "only" have to map Uint8List to BLOB, or does this have some complications?

[2020-02-14 05:45] li695 opened #260 "Exclude getters and setters from mapping"

[2020-02-15 11:56] sanekyy opened #261 "Bug with nullable bool"
Hello.

My entity contains nullable bool field.

[code]

When I call this method with visa == null:

[code]

I got crash:

![image](https://user-images.githubusercontent.com/18647037/74587408-1c692c00-5003-11ea-8e19-a2e0ec099e66.png)

![image](https://user-images.githubusercontent.com/18647037/74587418-2a1eb180-5003-11ea-8bff-0f68e2f16b41.png)

[2020-02-15 21:59] mqus opened #263 "Internal: Type checking error is not thrown"
While improving the tests around #259, I noticed that the new Uint8List type was "not supported" yet as a parameter in dao functions, but no error occurred. After searching for the problem for about 15+ minutes, I finally noticed that the "throw" statement was missing in the following code :laughing: .
https://github.com/vitusortner/floor/blob/5aa9486d4d909a105e9a21571e9fc1822bd2739a/floor_generat

[2020-02-17 20:02] tulioccalazans commented on #256
@vitusortner In Room, if defaultValue is defined, we don't have to set this property.
This way, in an insertion the field get the default value.

[code]
It is a useful feature.

[2020-02-18 09:24] jeanmatthieud commented on #260
If I could, I would transform this issue to "Ignore annotation not working on getters".
It seems that the ignore annotation is not applied on entity getters, and the generator doesn't creates any errors.

I did not tried on setters.

[2020-02-18 16:32] istornz commented on #255
I'm also interested :)

[2020-02-18 17:39] tulioccalazans commented on #154
Hi @vitusortner ,
I found a bug involving LIKE operation.

This does not work:
[code]
But it work:
[code]
Note that the unique difference is **AND Code != :notUser** order
Maybe it is related with the operator **!=**

[2020-02-19 10:41] istornz opened #264 "How to know when callback are finished ?"
Hello,
I want to know when the callback is finished. I try to populated the DB but I can't know when the populating process is finished ...

[code]

I tried to add "async" on onOpen func but it doesn't work ...

[code]

Any help would be greatly appreciated :)

[2020-02-19 19:48] vitusortner commented on #264
Hi! Could you describe your use case a bit more and tell me exactly what's not working? Thanks in advance.

[2020-02-19 19:54] vitusortner commented on #154
Floor is currently mapping parameters into the query in the same order as they are passed into the function. This issue will be fixed with the 1.0 release. More information and related issues: #142 #224

@tulioccalazans

[2020-02-19 19:54] vitusortner commented on #255
It's currently not supported. But I'll look into it as soon as possible.

[2020-02-19 19:56] istornz commented on #264
Hi @vitusortner !
Thanks for your reply !

So, I want to pre-populate the database at the first startup (in order to inject static data).
To do that:

1. Created a Singleton to keep the reference of the database across my app (without pass it to all my widgets).
2. I added a callback and assign it on the "onCreate" state. This callback call a transactional queries (delete all & insert a list of ob

[2020-02-19 20:01] istornz commented on #264
I managed to pass around this "issue" by hooking the initialization process:

[code]

Note: I use a Singleton pattern and it works just fine.

[2020-02-19 20:07] vitusortner commented on #264
`Callback`'s functions work asynchronously. This means that they will be invoked sometime later. *blocking* their execution by adding `async` and `await` won't make the event looper stop until the initialization is done.

[2020-02-21 21:53] #264 closed

[2020-02-23 07:28] mohammadestk opened #267 "cannot build database on web platform"
it seems library does not working on web platform. it's working fine on android and ios.
in below code, app hanging on builder.build.

[code]

[2020-02-23 12:52] #229 closed

[2020-02-26 17:21] henry2man commented on #255
I'm using [csv](https://pub.dev/packages/csv) to do a batch import on a Landing Screen, using onCreate callback, but it takes too long to initialize (~50000 rows takes ~5 minutes).

Would it be possible to export my preloaded BD and include it as an existing asset within the project?

[2020-02-27 00:50] devpranav2104 opened #269 "How to run example app"
i want to run the example app in my ios simulator. Can you please help me regarding this

[2020-02-27 12:57] henry2man commented on #255
I've found a way to achieve this. For anyone interested [here it is a GIST with my code](https://gist.github.com/henry2man/bb491b0146cf0258879e96743169cccd). This is handmade, I've removed some stuff... in order to use it in your code you'll need to adapt it. My code is able to:

- Preload the database file with a copy that is stored in app assets.
- Create a backup in the SD Card
- Restore the da

[2020-02-27 17:41] JCKodel opened #270 "Doesn't work with inheritance"
All my entities has some common columns:

[code]

When inheriting from the above class, the code generator fails:

[code]

Error:
[code]

1) Floor should consider inherited classes (specially abstract ones)
2) It would make a lot more sense if there is a Index decorator for columns (so I don't need to declare indices from inherited classes every time)

[2020-02-28 07:49] vitusortner commented on #269
At what step are you stuck? Have you generated the code with `flutter packages pub run build_runner build`?

[2020-02-28 18:21] sanekyy opened #272 "How to use ignore annotation?"

[2020-02-28 23:28] mqus commented on #272
Well, you put a `@ignore`(has to be lower case!) before your field(in a class which is marked as an Entity) to make floor ignore it. This means that it will not create a database column for it and your constructor should be able to handle a call without the ignored fields in it.

But as you didn't specify *what exactly* you don't understand, I can't help you much further.

[2020-02-29 01:02] devpranav2104 commented on #269
by this command it runs .

[2020-02-29 01:50] devpranav2104 commented on #269
Thank you it works

[2020-02-29 01:51] devpranav2104 commented on #269
Thank you it works. Last time i also run this command but it didn't generate code for Dao.This time everything works ok

[2020-02-29 04:33] devpranav2104 commented on #269
Is it possible to declare private fields in Entity Model?

[2020-02-29 06:55] sanekyy commented on #272
Thanks. I can’t find an example with this annotation.

[2020-02-29 07:08] sanekyy commented on #272
I can't use this code:(

![image](https://user-images.githubusercontent.com/18647037/75602977-56463200-5adb-11ea-9e6a-af3cd6007001.png)

[code]

[2020-03-01 13:35] sanekyy opened #273 "async migration"
Hello.

Migration is a synchronous function:
![image](https://user-images.githubusercontent.com/18647037/75626620-12862200-5bda-11ea-9b44-36c4fa41abc8.png)

So if we want to execute some operations on database in migrate script with database.execute() we can't await.

But same call in generated code in onCreate calls with await

![image](https://user-images.githubusercontent.com/18647037/75626659-

[2020-03-01 16:11] hsult4n commented on #47
Any updates @vitusortner

[2020-03-02 09:02] vitusortner commented on #272
Thanks for your report! It seems
Do you see a problem in ignoring **all** getters and setters out of the box? (This will require minor changes.)

[2020-03-03 00:24] JAICHANGPARK opened #274 "[Question] Support data type"
Hi now I'm using to floor in my flutter application
What't kind of data type can I use in entity?

1. int -> SQLITE INTEGER?
2. bool -> INTEGER?
3. string -> TEXT?
4. datetime -> TEXT?

[2020-03-03 16:01] mqus commented on #274
And also Uint8List ->BLOB, if you are using the master branch.

[2020-03-05 01:55] JAICHANGPARK commented on #200
I Have some same problem about return value

@Query('SELECT Count(*) FROM User WHERE id = :id')
 Future<int> checkDuplicateHid(String id);

NoSuchMethodError: The getter 'name' was called on null.
Receiver: null
Tried calling: name
[INFO] Running build completed, took 9.1s

[2020-03-05 08:42] alectogeek commented on #200
@JAICHANGPARK Try to implement it using rawQuery, works fine.
[code]

[2020-03-05 08:45] JAICHANGPARK commented on #200
@alectogeek  Awesome ! Thank you

[2020-03-05 11:47] sanekyy commented on #272
Ignoring all getters and setters may be a good solution.

[2020-03-05 15:02] cassioseffrin commented on #267
Although floor sintaxe much better than moor,  I don't see any docs about web support for floor.

Moor have an experimental web support, take a look: https://moor.simonbinder.eu/web/

I hope the floor project have plans to implement in the future.

[2020-03-06 00:24] jaumzera opened #275 "Mapper defaults to the first constructor"
My entities were being fetched with all attributes set to `null` because I had a non-args named constructor (e.g `MyEntity.empty()`) before the all-args one.

I didn't find any mention about this on the docs.

https://github.com/vitusortner/floor/blob/39787be83195c28e46a0ec449d739d9dceea4416/floor_generator/lib/processor/entity_processor.dart#L225

[2020-03-07 12:15] vitusortner commented on #222
Support will be added in the future. As of now, iOS, Android and macOS is supported.

[2020-03-07 12:17] vitusortner commented on #222
Closing this in favor of having a single issue for multi-platform support #228

[2020-03-07 12:17] #222 closed

[2020-03-07 12:17] vitusortner commented on #267
Floor, currently, doesn't support Flutter for web. As of now, it can be used on iOS, Android and macOS.

Closing this in favor of having a single issue for multi-platform support #228

[2020-03-07 12:17] #267 closed

[2020-03-07 13:00] #263 closed

[2020-03-07 13:04] vitusortner commented on #274
The project's README has just been updated with a "supported types" section.

[2020-03-07 13:04] #274 closed

[2020-03-07 13:08] JAICHANGPARK commented on #274
@vitusortner Thank you

[2020-03-09 17:13] brucedong2016 opened #278 "rawQuery must use quote and Dao query don`t effective problems"
Hi:
There are two problems when I use this plugin:

1.when I use this rawQuery sql  as bellow:

it throw a exception like this:

it only effective in this patten :

the diference just add the single quote

2. I defined the Query JPA in Dao class like this:

when I use the dao query:

it throw the same exception  ‘near "order": syntax error (Sqlite code 1 SQLITE_ERROR)’

3.the Dao insert methord do

[2020-03-14 11:21] istornz opened #282 "[Bug] Ignore tag was "ignored" on custom entity getter"
Hello,

First thanks for this amazing plugin !

I found a bug related to the @ignore field for a custom getter class.
Infact, the @ignore field seems to be "ignored" (notice the joke 🥇 ) on a custom class getter.

Here is how to reproduce the bug:

1. Create two entity custom class

[code]

[code]

2. Create a custom getter & insert the @ignore field inside `MyMainClass`

[code]

3. Run the build

[2020-03-14 11:47] vitusortner commented on #282
Hi and thanks for your report! This issue will soon be fixed by #279.

[2020-03-14 11:50] #282 closed

[2020-03-14 12:28] #258 closed

[2020-03-14 14:21] #260 closed

[2020-03-14 14:21] #272 closed

[2020-03-15 08:25] vitusortner commented on #273
Good catch! This definitely is unwanted.

[2020-03-15 10:37] mqus commented on #130
I think this can be closed now, as 90% of the DatabaseView features are implemented and the remaining 10% (Streams on Views) open a whole new can of worms :)

[2020-03-15 11:58] mqus opened #288 "Snapshot dependencies don't work"
If I try to depend on floor like its written in the Snapshot section in the readme, it will throw the following error:
[code]
Sadly, this does not seem to work, as others have already discovered:
https://stackoverflow.com/questions/54555612/how-to-organise-multi-package-flutter-project-and-use-it-as-dependency

It seems to be covered in this issue: https://github.com/dart-lang/pub/issues/449

Pers

[2020-03-15 12:36] vitusortner commented on #33
Duplicate of #94

[2020-03-15 12:36] #33 closed

[2020-03-15 16:17] IanDarwin commented on #165
Presumably the DateTime converter would ship as part of the library b/c that's such a commonly-used datatype. Maybe a few others too. Having the ability to map arbitrary datatypes used as fields would be definite win. Thanks && hope to see this one soon :-)

[2020-03-15 17:12] IanDarwin commented on #119
@vitusortner: Further to the above:

For the special case of enums, wouldn't it make sense to have floor simply store in an int column, and just convert using myEnum.index and myEnum.values[n]?

One step up would be to copy the idea from JPA and use an annotation to allow mapping by user's choice of int value or by string name (FWIW, JPA uses @Enumerated(EnumType.STRING) or EnumType.ORDINAL; ORDIN

[2020-03-16 19:48] IanDarwin commented on #278
"order" is a keyword in all SQL-like languages so it must always be quoted when used as a table or column name.  This is not a Floor-specific query but a general SQL issue applicable to all SQL keywords..

It's generally easier to rename the table to "orders" using the annotation that floor provides.

[2020-03-17 22:14] jaumzera commented on #200
Same issue here. I'm trying to do a simple count as `select count(1) from MyTable`:

[code]

[2020-03-18 15:33] brucedong2016 commented on #278
thank you

[2020-03-18 15:33] #278 closed

[2020-03-19 18:01] #188 closed

[2020-03-19 18:01] #270 closed

[2020-03-19 20:27] #273 closed

[2020-03-19 21:11] kennedynyaga opened #291 "Missing concrete implementation of 'getter AppDatabase.personDao'."
When I run ` flutter packages pub run build_runner build` the code does not compile the ` _$AppDatabaseBuilder` correctly. What could be the issue?

PersonDao

[code]

PersonEntity

[code]

database.dart

[code]

Result : The getters for Person dao are missing.

Try implementing the missing method, or make the class abstract.

[code]

Doctor summary (to see all details, run flutter doctor -v):
[✓]

[2020-03-19 21:50] mqus commented on #291
This is probably not the reason your getters aren't generated, but your Query (select * from **Person** ) does not match your entity (**PersonEntity**)

[2020-03-19 21:56] mqus commented on #291
I assume that you already tried to rerun build_runner, Do you have the logs for that?

[2020-03-19 23:17] kennedynyaga commented on #291
Oh actually I have a mapper

[code]

I removed it to try debug the issue.

Where do I get the logs for build_runner? At the moment Debug Console is empty.

[2020-03-20 07:01] mqus commented on #291
You can open the console and run the command from there.

[2020-03-20 09:13] jeanmatthieud opened #292 "DatabaseView generation error with multiline string"
I'm using the 'develop' branch up to date to use the DatabaseView annotation (thanks by the way !).
It seems that the code generator doesn't work for multiline string requests.
[code]
It's quite surprising as multiline string are working for DAO.

[2020-03-20 11:59] mqus commented on #292
Thank you for the report! Could you detail what "Doesn't work"? What exactly happens differently than you expect? Is there an error message?

[2020-03-20 12:42] jeanmatthieud commented on #292
[code]

[2020-03-20 12:43] jeanmatthieud commented on #292
It works fine if I put the hole string on a single line

[2020-03-20 19:43] vitusortner commented on #292
The problem seems to be very similar to what has been described in #131 and got fixed in #133. A fix for multiline view queries is on its way. Thanks for the report!

[2020-03-22 18:54] locskot commented on #47
Hi there!
Is there any support to one-to-many relation? How can i get stored in db complex object (not just simple strings and ints but also list)?

[2020-03-23 15:40] Dragonboh opened #295 "Migration does not work on Android."
I have an issue. I have cashed data with pre load views. If login and pass are cashed we don't need to show user all info screens. If i log in on Android device then kill app from app list running and then open app, database return empty data and user need to pass all process again. if i comment Migration it works. On iOS there is not such problem. Does anybody have his?

[2020-03-25 09:53] jeanmatthieud commented on #288
I have the same problem.
For development, I cloned the floor repo and created a local dependency.

Even if you cannot fix this bug now, could you create a new release of the library?
You added a lot of neat features since 0.11.0. A beta release will be enough :)

[2020-03-27 09:34] marcjoha opened #296 "Can't get @update to work"
I have a simple entity:

[code]

Then I do:

[code]

Which works fine, and gives me the generate primary key. But then later I want to update `lastChecked`, so I do:

[code]

affectedRows says 1, and my conflict strategy is REPLACE. Still the object doesn't change. I'm guessing this might be related to equality checks but not sure what to do here. Can't find anything in the docs -- can I get a hin

[2020-03-27 11:33] mqus commented on #296
With

You mean that the database entry does not change, right? Do you have a minimally reproducable code snippet?

Anyway, i'll try to reproduce that and get back to you.

[2020-03-27 13:18] marcjoha commented on #296
Yes, the database entry is not updated to reflect the change. I'll see if I can share the exact code.

[2020-03-27 15:34] marcjoha commented on #296
Experimented a bit more and got it working. My mistake was that I hadn't parameterized all instance variables in my entity. I was using using the constructor `Website(this.url, {this.id})` and had left out `lastChecked`. For posterity and perhaps to others benefit, here's a working code example.

[code]
Thanks @mqus for offering to help!

[2020-03-27 15:34] #296 closed

[2020-03-27 17:18] mqus commented on #295
I'm sorry but i'm not sure I understand your problem, let me try to rephrase it:
If you use migrations, then the database will be empty after restarting the app?

Could you share some code, e.g. the migrations you are trying to run and maybe the class with the `@Database` annotation? Without those it will be really hard to try and reproduce your problem, let alone fix it.

[2020-03-27 18:34] tulioccalazans commented on #292
@jeanmatthieud Hi, How did you configure your pubspec to use "floor" develop branch?

[2020-03-27 18:38] jeanmatthieud commented on #292
I wasn't able to do that directly using the GitHub remote repo (one issue is open). I had to clone the repository and edit the pubpec.
I cannot use CI, I'm waiting for the next release of floor...

[2020-03-27 18:54] tulioccalazans commented on #292
@jeanmatthieud I forked the project and edited the pubspec myself.
If you want to use it, set it:

[code]

[2020-03-28 10:58] #292 closed

[2020-03-28 12:04] mqus commented on #256
Why not assign a default value in the class description by changing

to
[code]
?
This should cover 90% of the use cases. Could help me understand why that won't work in your case?

[2020-03-29 09:53] VadimOsovsky commented on #256
@mqus having non final fields isn't something I usualy do unless really needed

[2020-03-29 13:21] mqus commented on #256
Sorry, you had no `final`s in your example code, so I assumed otherwise :wink:

What about
[code]
?
here, `bar` would have the default value `null` and `active` would have the default value `false`.

[2020-03-29 13:33] mqus commented on #256
Tbh, If I would implement this, I would probably do it in the same manner as [floor had done it](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-master-dev:room/common/src/main/java/androidx/room/ColumnInfo.java;l=86;drc=4f917f20e63afc653a6092ad87cfbb10bcc1552c), Meaning that the generated `CREATE` query for the entity would set the default value, but it won't ever be used b

[2020-03-30 13:13] SirFilbido opened #300 "Implementing BaseDAO<T>"
Hello,

I would like to know if it is possible to implement a DAO in another DAO that has the most common operations to be shared among all DAO.

If so, how do I get my database to generate these extended methods?

Original:
Olá,

Gostaria de saber se é possível implementar um DAO em um outro DAO que possui as operações mais comuns para ser compartilhados entre todos os DAO.

Se sim, como eu faço

[2020-03-30 13:51] mqus commented on #300
This was already adressed in #258 and fixed/implemented in #281.
To use it, just remove the `@dao` from your `BaseDao` and everything should work as expected.
Did you try that already? If yes, what version of floor are you using and what went wrong?

Anyway, we should probably document that feature (and maybe add tests?), So thank you for the report!

[2020-03-30 14:01] SirFilbido commented on #300
I made the change you indicated, but the same thing continued, the generated file (app_database.g.dart) still asks for the implementation of the BaseDAO methods.

![image](https://user-images.githubusercontent.com/25982091/77921153-c3351f00-7275-11ea-9b8c-42640074a7a5.png)

The versions are:
floor: ^ 0.11.0
floor_generator: ^ 0.11.0

[2020-03-30 14:28] mqus commented on #300
Try to use version 0.12.0, which included that feature and was released 2 days ago ;-)

Ahh, right, you should use `implements`.

[2020-03-30 14:46] SirFilbido commented on #300
Thank you very much @mqus !!!

It worked correctly, the floor is amazing, congratulations !!!

If someone falls into this issue, here's how it went:

[code]

[code]

The versions:
floor: ^ 0.12.0
floor_generator: ^ 0.12.0

[2020-03-30 14:46] #300 closed

[2020-03-30 18:55] marcjoha commented on #223
Can confirm this is still the case in 0.12.0. Parameters need to be listed in the same order they appear in the SQL string.

[2020-04-03 08:15] vitusortner commented on #288
I've, for now, removed the snapshot version instructions from the README until we figure something out. #301

[2020-04-03 08:25] vitusortner commented on #275
Good find. We're currently just using the **first** constructor to create in-memory objects. [I'll mention that in the README](https://github.com/vitusortner/floor/pull/302).

Do you have an idea how to improve this behavior?

[2020-04-03 18:49] #226 closed

[2020-04-03 18:54] #221 closed

[2020-04-05 07:44] kennedynyaga commented on #291
This issue was caused because I was using build_runner 1.7.3. Updating to ^1.8.1 cleared the problem.

[2020-04-05 07:44] #291 closed

[2020-04-06 12:25] JAICHANGPARK opened #304 "Can I use floor with provider?"
I have some problem with using provider in floor
Any have good idea with provider library ?
### Provider Code
[code]

## my code
[code]

## Error

[code]

[2020-04-07 02:39] Lunedor opened #306 "I can't get insert any data to database"
I made my entity, dao and database dart files, database.g.dart builded succeeded, but when I try to add some data from snapshot.data from my future I am just getting below error. I think I am missing something to add in my main.dart but what?

error:
[code]

entitiy.dart:
[code]

favorite_dao.dart:
[code]

database.dart:
[code]

Summary and things I added in my main.dart:
[code]

[2020-04-07 11:00] ManoyloK opened #307 "FOREIGN KEY constraint failed"
I have 2 entities with one to many relation
[code]
And when i try to create user with links like this
[code]
I've got Unhandled Exception: DatabaseException(FOREIGN KEY constraint failed (code 787 SQLITE_CONSTRAINT_FOREIGNKEY)) sql 'INSERT OR REPLACE INTO social_links (user_id, id, title, href) VALUES (?, ?, ?, ?)' args [1393715123, 1850758289, some test, some text ]}

[2020-04-07 11:05] #307 closed

[2020-04-07 11:29] cassioseffrin commented on #270
@vitusortner may you could give us an exemple of how to make proper inherited fields for entities, I cannot found it in docs. I'll appreciate it.

[2020-04-08 05:55] mqus commented on #270
DAO inheritance also works already, your `@dao` annotated class just has to extend or implement a class with `@insert` (etc) annotated functions. Please file a new issue if something doesn't work as expected.

[2020-04-08 07:40] mqus commented on #306
What I can see from your code sample is that the `favoriteDao` variable in your main function and in your `_MyHomePageState` class was not assigned a value. Did you do that in the code you omitted? If you didn't, then this would explain the error message you got.

What I mean is that you would have to put
[code]
instead of just
[code]
into your main function. The class variable would have to get i

[2020-04-08 14:52] Lunedor commented on #306
Thank you for your answer it solved my issue, and I edited my message as colored :) May I ask one more thing if it's not irrelevant; how can I avoid to add multiple identical objects to db?

[2020-04-08 17:08] cassioseffrin commented on #270
That's awesome @mqus. I will appreciate if you could share a simple DAO inheritance sample.

[2020-04-08 19:52] #306 closed

[2020-04-09 20:43] cassioseffrin opened #308 "Possibility to add ephemeral/transient data on the stream"
Guys first of all, pardon for using the issues to ask a question, however I think it can be helpful for the community as well.

I have a list of objects (ListView) on the screen, so a I need to increment some records and save all the work at once. The records need to be added in the stream and updated on screen  but  just like a transient ephemeral data. When I press the save button all the epheme

[2020-04-10 11:22] mqus commented on #270
I don't have a flutter IDE at hand right now, but here is an example from the tests:

[code]

You then have to include `PersonDao` as a getter inside your database class, just as before.

I don't have an ETA right now but I think this should be included in the README.

[2020-04-10 12:58] vitusortner commented on #270
I'll add an example right away 👍

[2020-04-10 13:37] vitusortner commented on #308
Hi! I don't quite understand your question. Can you supply some more code snippets?

[2020-04-10 13:55] vitusortner opened #310 "Limit DAO inheritance overrides to abstract classes"
We're currently trying to override methods inherited from classes and mixins even though they **always** need a concrete implementation already.

[2020-04-10 14:09] vitusortner commented on #193
This will be solved with the introduction of type converters. This feature is in active development and will be released soon. You can follow the progress and discussions in #165.

[2020-04-10 14:09] #193 closed

[2020-04-10 14:10] vitusortner commented on #165
A quick update: I've started the development of this highly requested feature and will release it as soon as possible.

[2020-04-10 14:13] vitusortner commented on #119
It's not planned to support `DateTime` out of the box for now. Same for enums. Instead, type converters will be introduced soon which will solve these problems. Follow the progress and discussion in #165.

[2020-04-10 14:13] #119 closed

[2020-04-11 06:42] LuisYul opened #312 "Add support for insert list objects and returns list ID's"
Actually I get this error when try to get a id's list after insert or update a object's list:

Error running FloorGenerator
Update methods have to return a Future of either void or int but not a list.

 Future<List<int>> updateList(List<T> entities);
   │                     ^^^^^^^^^^

My code:

 @insert
 Future<List<int>> insertList(List<T> entities);

I found this related issue:  #44 , but I do

[2020-04-11 07:09] #312 closed

[2020-04-11 07:11] LuisYul commented on #312
I updated my version and now works fine.

[2020-04-13 01:33] cassioseffrin commented on #308
Hi @vitusortner

I'll try to be more clear. Imagine any list of stream that we get from the dao.
lstStream = dao.findAllObjsAsStream();

How can I include new transient elements to this list lstStream. I need to include some elements just in memory (just to be showed on screen), not in database.  The process of save them will be committed in a further step.

In short my question is simple. How can

[2020-04-13 09:52] vitusortner commented on #308
One solution would be to create a `StreamController` and add both the DAO stream to it and the transient data. An example can be seen in the following.

[code]

[2020-04-13 12:19] cassioseffrin commented on #308
Thks @vitusortner. You gave me a light, but I am still getting an error when I try to manipulate the stream: Unhandled Exception: Bad state: Cannot add event while adding a stream.

I am a quite new in dealing with streams  (I came from react-redux). I will try to create a new streamController in the construtor instead using the native stream from floor, so may I will get more luck when the transf

[2020-04-14 20:48] cassioseffrin commented on #308
@vitusortner I could achieve my goal. It's very difficult to make it. The dart streams seems to get a breaking changes in last update of flutter and rxdart.

I will describe how, so may you could mark this issue as a question and close it. But please if you could give you opinion I will appreciate.

First I have created some variables to hold the ephemeral/transient data. They are in state class s

[2020-04-15 14:23] Henvealf opened #313 "Can't primaryKey be String type?"
When I create a entity like this:
[code]

After `flutter packages pub run build_runner build`, the dao mapper of generated in `*.g.dart` file is :
[code]

I need to change it manually every build as:

[code]
Otherwise it won't work when operate db :

[code]

Is this a bug？

Version：

[code]

[2020-04-16 12:42] cassioseffrin opened #314 "Plans to support OneToOne, OneToMany, ManyToOne and ManyToMany"
Hello,

There is any plan to allow Floor to support OneToOne, OneToMany, ManyToOne and ManyToMany relationships?

Maybe you can take a look at JaguarORM: https://github.com/Jaguar-dart/jaguar_orm

[2020-04-16 20:56] mqus commented on #314
At least a part of what you possibly want are [ForeignKeys](https://github.com/vitusortner/floor#foreign-keys) in the `@Entity` annotation.
If you want to see how they work in detail you can also look at the [same feature in androids room library](https://github.com/vitusortner/floor#foreign-keys). There should be many uses in android apps in the wild which you can look at, I don't have any specif

[2020-04-16 21:29] mqus commented on #314
Just to be sure though, what is your use case for this, what do you want to do?

[2020-04-17 00:06] cassioseffrin commented on #314
Yes it's very complex in fact. There are a lot of dependencies when these kind of mapping are made,  including lazy load  and eager load and a bunch of configs. The collections needs to have configurations otherwise the queries becoming very heavy to process in database.

The big advantages of these kind of mapping are provide to programmers unlimited capabilities and zero  SQL native queries. All

[2020-04-18 07:54] VadimOsovsky commented on #142
@vitusortner the fix would be highly appreciated! :)

[2020-04-18 10:53] Supercaly opened #316 "List with dynamic size is not inserted"
Hi, I've got a problem inserting a list of data inside the database.
In my project, I've got a relation 1-to-many between two data: Measurement and RawMeasurement
[code]

[code]
Each Entity has its own DAO with methods to insert and retrieve the data.

[code]

In my code then I've got a method where I create and insert the Measurement and the RawMeasurement:
[code]
The problem is that when I run t

[2020-04-19 16:06] vitusortner commented on #316
Hi! Not giving the list a type might be the problem. You could try the following.

[code]

[2020-04-20 07:49] Supercaly commented on #316
I've tried your suggestion and it seems to worked fine.
To confirm furthermore, I've added a try/catch around the last `await` and then it started to throw exceptions saying he couldn't cast from dynamic so this explains the code getting stuck.

[2020-04-20 07:49] #316 closed

[2020-04-20 13:15] Henvealf commented on #313
🤷‍♀️

[2020-04-20 16:22] vitusortner commented on #313
Has the problem been solved already?

[2020-04-22 08:03] Henvealf commented on #313
Not yet,  I change it manually every build as:

[2020-04-22 08:05] Henvealf commented on #313
Not yet, I solved this by manually modifying the `*.g.database` after each build.

[2020-04-22 15:47] Supercaly opened #319 "How to use DatabaseView"
Hi, I begin by congratulating you on the excellent package.
I saw that you recently introduced the `DatabaseView` functionality and I have some doubts about its use since I think it is the solution to my "problem"; in my application, I have an `@entity` class which has various parameters, there's also a `DAO` class which contains some methods to insert, and return this entity. What I would like to

[2020-04-23 14:37] TheVinhLuong commented on #313
@Henvealf Are you on the latest version? I have a string as a primary key too and everything works fine.

[2020-04-23 17:03] mqus commented on #313
Where did you get this version from? Afaict there is only a 0.12.0. But I'll take a look and report back.

[2020-04-23 17:53] TheVinhLuong commented on #313
@mqus my bad, it is 0.12.0.

[2020-04-23 19:59] mqus commented on #313
I just adjusted the integration tests (`id` of `Dog` to be of type `String`) and could not observe your bug. everything is generated as expected:
In `TestDatabase::open`
[code]

in `_$DogDao`
[code]
And the tests ran through successfully after also changing the calls to the constructor in the tests.

I'll assume that you already tried to remove the generated file and regenerate it from scratch, so

[2020-04-23 20:51] mqus commented on #319
Yeah sure you can do that perfectly well with the DatabaseView. The following should work with your example (haven't tried it out yet though).

The entity stays as you wrote it.
**The DAO:**
[code]
**The DatabaseView** (replace `[other parameters]` with your parameters used in `Test`)
[code]
You have to add DAO, DatabaseView and entity to your database of course.
[code]

[2020-04-24 08:38] Supercaly commented on #319
Tanks, I've implemented your suggestion and it worked perfectly :+1: :+1: :+1:

[2020-04-24 08:38] #319 closed

[2020-04-25 09:34] Henvealf commented on #313
@mqus

`entities.dart`:

[code]

`dao.dart`

[code]

`database.dart`:

[code]

---

after `flutter packages pub run build_runner build`,  the part of `database.g.dart`:

[code]

You can see the `double` in database.g.dart.

[2020-04-25 15:39] mqus commented on #313
Thank you very much!  I could reproduce it now.
Regarding the solution: the dart analyzer tool pointed me to your constructor (Missing parameter type for id).
If I write
[code]
(note the additional `String ` before `id`), then everything gets generated just fine. Why it assumes that it should be `double` is something that I'll investigate now.

Btw, the analyzer also complained about a missing par

[2020-04-25 15:50] mqus commented on #313
Ah right, `'double'` is the fallback string, so even if the type was null for any constructor argument (not just the primary key), it would fall back to using `'double'`.
https://github.com/vitusortner/floor/blob/cfa25d3b01b69a7ce281c9043604b8657264e03c/floor_generator/lib/processor/queryable_processor.dart#L77-L93

We should probably generate an error there if the type does not get matched. But t

[2020-04-30 14:04] jaredgreener commented on #165
+1 for this, can't use this library without support for DateTime

[2020-05-01 15:45] mqus commented on #304
Sorry for taking so long to respond but from a quick glance at the provider package, this should work.

Could you show the code where you try to use the database instance by getting it from the provider? I think the last hint (Ensure the correct `context` is being used.) could be correct. I am not a dart or flutter expert but I couldn't see any fault in the code you already provided.

[2020-05-02 13:33] mqus opened #321 "Add a query parser"
This issue tracks the effort of adding a parser for SQLite queries, which will enable us to do static analysis on the queries, get dependencies of DatabaseViews, be aware of affected databases when allowing arbitrary queries and much more.

I have started implementing this for a prototype and want to build on the work done in #320 .

The current strategy is to use the antlr SQLite grammar updated

[2020-05-02 22:06] mqus commented on #321
This is not really an update but more thoughts about the feature:

I thought that it may be possible to have somewhat of an effect system where Queries with a `Stream` as the return value are simply run again as soon as the input entity changes, regardless if it is a SELECT statement or a DELETE statement. On one hand this would make an excellent system for building triggers. On the other hand SQL

[2020-05-03 15:10] vitusortner commented on #321
This sounds amazing! Thanks for your efforts. Did you look into the [sqlparser package](https://pub.dev/packages/sqlparser) by any chance to find out if it can solve our problems?

[2020-05-03 15:57] mqus commented on #321
No I didn't and this seems far easier to work with than the antlr approach. I'll definitely look into it.

Yeah I made it sound like I just had that idea but in truth I knew it but had forgotten that this is also something we can do with the query parsing and wanted to add it, just so I wont forget it again.

[2020-05-05 09:27] edwinnyawoli commented on #304
I use floor with the provider library as shown below
`app.dart`
[code]

`app_database.dart`
[code]

Hope this helps

[2020-05-05 10:51] mqus commented on #214
Sorry for keeping quiet so long about this one, do you still have this issue or can this be closed?

[2020-05-05 11:02] mqus commented on #130
I'm closing this as this seems to be adressed now, with Streams of DatabaseView queries also coming soon.

[2020-05-05 11:02] #130 closed

[2020-05-05 11:04] mqus commented on #16
This is solved now, right? I'll close this issue. Pleas reopen if there are some things left to do.

[2020-05-05 11:04] #16 closed

[2020-05-05 11:12] mqus commented on #314
Closing this as a duplicate of #47 which tracks relations

[2020-05-05 11:12] #314 closed

[2020-05-05 11:16] mqus commented on #162
I'm currently going through the open issues. What is the state here? can this be closed?

[2020-05-05 11:17] mqus commented on #162
As this was open for almost a year now with no further activity I will close this issue. Please reopen if it still persists.

[2020-05-05 11:17] #162 closed

[2020-05-05 11:27] mqus commented on #159
I don't know what the issue was but there has been no recent activity so I'll close this. For all users who encounter this issue, I do have a suspicion that the database version was not set correctly in the `@Database()` annotation. But I only have the information in this thread available to me so I am very likely wrong. Look at it as another thing to check :wink:

Please reopen if this particular

[2020-05-05 11:27] #159 closed

[2020-05-05 11:59] mqus commented on #81
I'm currently triaging all the old issues.

Is this bug about:
1. We keep the old version even if we shouldn't or
2. We will fail in a big way but should keep the old database instead?

The description is not quite clear about this :wink:
If you mean 1., what should be done to fix this?
If you mean 2., then to be honest I don't see how this would work, as the migration simply updates the database

[2020-05-05 12:19] mqus commented on #213
This is currently only possible with DatabaseViews. But I am working on a under-the-hood improvement(#321) which would make the feature you describe possible. Nevertheless, we will be tracking this feature in #94.

[2020-05-05 12:19] #213 closed

[2020-05-05 12:25] mqus commented on #173
Joins and especially Streams of join queries with are a difficult feature to implement, which is why we haven't done that until now. This makes this "bug" more of a feature request.
As a feature request for this feature was already mentioned many times, I will be closing this as a duplicate. Look at #321 for finding the implementation details and at #94 for tracking this particular feature (taking

[2020-05-05 12:25] #173 closed

[2020-05-05 12:28] mqus commented on #179
Closing as a duplicate of #142

[2020-05-05 12:28] #179 closed

[2020-05-05 12:32] mqus commented on #130
The general issue (parsing the results of arbitrary queries into objects) is tracked in #94

[2020-05-05 12:41] mqus commented on #200
This is not possible right now because floor does not look at the queries to derive the type and also can't output arbitrary types. This will be adressed in #94 and #321 .

[2020-05-05 18:15] mqus commented on #261
I'll fix this asap.

[2020-05-05 18:17] mqus commented on #223
@marcjoha  the bug here is mainly about the commas, I suppose. Your issue is also valid of course and is mentioned in #224

[2020-05-05 18:19] mqus commented on #224
This is roughly the same feature as #142 .

[2020-05-05 18:36] mqus commented on #269
yeah, I'll try to do an example below:

[code]
in this case, `_ownerId`would be private and can only be accessed from the same dart file (afaik).

If you have other questions, please open a new issue, I'll be closing this since the original question was solved.

[2020-05-05 18:36] #269 closed

[2020-05-05 18:42] mqus commented on #288
As talked about in #298 I will be closing this issue since pub simply does not support snapshots as we need them and it doesn't seem to be happening anytime soon:

(https://github.com/dart-lang/pub/issues/2447#issuecomment-620500711)

[2020-05-05 18:42] #288 closed

[2020-05-05 18:46] mqus commented on #321
Here is a list of features that depend on the query parser being implemented:
- #58 Query Validation
- #94 Parse queries into objects, as mentioned already.
- #200 Return int values from sum/count queries
- And other issues I have closed as duplicates of the mentioned issues.

[2020-05-06 00:24] JAICHANGPARK commented on #304
@edwinnyawoli Thanks I try that

[2020-05-06 19:37] #223 closed

[2020-05-07 11:28] #308 closed

[2020-05-08 19:13] #261 closed

[2020-05-08 23:20] ForceTower commented on #47
If you guys ever used Room (the library this is based), and checked out the generated code, you may write the boilerplate yourself and get the relations.

In my case I have the entities Article, Author and ArticleAuthor (that assigns a article to an author).

I started playing with flutter/dart this week, so you might see some improvements in the code:
https://gist.github.com/ForceTower/1d9acd12e7

[2020-05-14 17:57] hsul4n commented on #9
#328

[2020-05-14 18:13] cassioseffrin commented on #256
Seizing the opportunity of this thread. Could I create a default value as the output a query:
Default value: SELECT strftime('%s', 'now') || (last_insert_rowid()+1)

@ColumnInfo(name: "timestampId", defaultValue: SELECT strftime('%s', 'now') || (last_insert_rowid()+1))

I know It's a little tricky but It's all I need .

May I can do it  making an alter table onCreate event. However if I can do it

[2020-05-15 11:26] cassioseffrin opened #329 "question: What are the side effects of having an attribute of an entity as no final modifier"
I need to change a value of an attribute with his set method, this attribute could be @ignored (transient) but need to not have the final modifier.

I suspect It could cause some issues with the stream, but in my case it will not represent any changes on the stream. I will just modify him before the stream will be disposed.

So my question is: It will cause any further side effect to omit the fina

[2020-05-15 12:01] cassioseffrin commented on #329
and  if the attribute isn't a @ignored,   it is an ordinary floor attribute just not final one.

[2020-05-15 15:50] mqus commented on #329
If you change anything in the entity you got from a DAO getter, nothing will happen in the database side. In fact to tell the database that something changed, you will have to take your entity and call a DAO method which has the @update annotation. We don't watch the entities we hand out. Even Streams just create a new instance every time something changes (which will then not include the changes

[2020-05-15 16:42] cassioseffrin commented on #329
@mqus I appreciated your clear explanation. I already have checked the  *g.dart files. But nothing how to hear it from the people that project the floor.

The final are used in flutter because of the stateful widgets:   [StatefulWidget](https://docs.flutter.io/flutter/widgets/StatefulWidget-class.html). But I don't think we need to follow this approach for all the dart files.

From Flutter:
`State

[2020-05-15 16:42] #329 closed

[2020-05-15 17:40] cassioseffrin commented on #44
This feature is already available in last version 0.12.0? If yes, how can I perform it?

[2020-05-15 18:56] mqus commented on #44
theoretically you can use `Future<int>` or `Future<List<int>>` as a return type for `@insert` DAO functions, e.g.
[code]
will return a list of primary ids which were generated and used by sqlite.
Of course, this will only work if your primary key is of type integer, but I think that only integer primary keys can be generated anyway. The `id`(or whatever you named it) field of those `Person` object

[2020-05-15 22:33] #228 closed

[2020-05-16 09:18] mqus commented on #142
Small hint for a workaround for now (I'm trying to do a better quickfix): use `?1` instead of `:my_param` and it should work the way you expect it to. Use ?n to use the nth parameter. This only works for normal parameters, not for lists in `IN` clauses.

Sqlite can already map single parameters to multiple locations and also supports named parameters (including reordering and multiple-use). Sadly

[2020-05-18 13:58] cassioseffrin commented on #44
@mqus It's working in 0.12.0. Thks!

I have tested in previous version. In the previous version if I am not wrong the returned int value was 0 or 1 (true or false), just to represent if the insert/update were done/committed without errors. Now it's pretty better providing the accuracy ID information. Amazing feature and thks again!

[2020-05-18 14:13] mqus commented on #44
In the case of `@update` and `@delete` it will return the count of changed rows, not the id. This `last inserted ID` in this ticket only applies to `@insert`. And as the (admittedly short) issue description says is

And this is (at least from my PoV) the amount of rows that were changed by the operation, just like the titles of the referenced PRs indicate.

If you want the id of your updated row(s

[2020-05-18 14:16] cassioseffrin commented on #44
@mqus   ok, it was very clear. Really this way similar to Room got better, thks!

[2020-05-18 14:16] mqus commented on #44
And honestly, if you had read the README link I gave you, this would have been obvious:

[2020-05-18 14:22] cassioseffrin commented on #44
Yeap indeed. I didn't understand correctly.  It's very clear in docs!

[2020-05-19 14:34] cassioseffrin commented on #329
Today I was asking myself about this mutation. I found I better approach for that.

Although it's working, it's not a good practice work with mutations. The better approach will be use a builder and copy the entire entity as a new one using a builder. If the entity fields were non-final, users might  believe that somehow update a value in the database, this can lead to bad interpretations and so o

[2020-05-19 22:59] mqus commented on #329
Thats because moor also generates the code for the entities. We only generate the Dao Code and the `CREATE TABLE` statements (i glossed over some details but that's it).

Could you provide a code example on how (and where) you would use that together with the existing features? I can imagine that we *may* be in a position to solve the following one:

But I can't think of a good way to integrate `c

[2020-05-20 11:04] JunCheung opened #334 "Stream did not update after I deleted one row."
Stream did not update after I deleted one row.

`@Query('SELECT * FROM House')`
`Stream<List<House>> findAllHousesAsStream();`

version: 0.12.0

[2020-05-20 11:30] cassioseffrin commented on #329
My ideia was something like what flutter have made in:  Serializing JSON

take a look at [Serializing JSON using code generation libraries](https://flutter.dev/docs/development/data-and-backend/json#serializing-json-using-code-generation-libraries).

[code]

Others frameworks like hibernate (Java) treats the persistence entities attached to database, so when you change a mutable entity it will ref

[2020-05-20 12:31] mqus commented on #329
Yeah I see where you are coming from but this is not the lightweight approach from floor or room at all, we do not do magic things implicitly but always explicitly. If you want to update your entity in the db, use the update function of your dao. Floor/Room is mostly a thin typed layer over the actual database interactions, not a full-fletched ORM, which means that you can use copyWith, but that i

[2020-05-20 12:39] mqus commented on #329
And tbh I probably still didn't understand your request clearly, as your code example neither has a `copyWith` method, nor any existing database interactions with floor, which is what I (perhaps not clearly) asked for.

Your Code example is 100% possible today in floor, because it does not interact with it. I want to see an example of you using the feature as you want it to look like when interact

[2020-05-20 12:46] mqus commented on #334
Thank you for reporting!
Could you please also provide a (minimal) example to reproduce your issue? Do you have multiple DAOs accessing House?, if yes could you show the DAOs (all functions related to House in them)?
I have something in mind but I can't confirm it just from your Stream query function(which looks ok, btw)

[2020-05-20 15:07] cassioseffrin commented on #329
`Your Code example is 100% possible today in floor, because it does not interact with it. I want to see an example of you using the feature as you want it to look like when interacting with the database. I can't follow comparisons with other libraries well because they are not structured the same and have completely different requirements.`
I know that, and it's working pretty well. I am just sugg

[2020-05-20 15:49] mqus commented on #329
Moor is a very different (and from my perspective much more complex) beast conceptually, even if the naming is somewhat similar. I didn't start the floor project but in my mind floor is striving to become flutters equivalent to Androids room and *not* JPA/Hibernate. That said, I'm currently working on improving and integrating moors sqlanalyzer package into floor (don't expect results anytime soon

[2020-05-20 20:15] cassioseffrin commented on #329
[code]
I could not agree more! I consider floor much better than moor. And may you have noticed I am rigorous in design patterns. I have tested at least 5 alternatives and I really believe in the future of floor. For your surprise in comparison with hibernate we have jaguar_orm followed by floor (2nd place).

I haven't tried copy_with or copy_with_extension yet. My first try was copyable, but as I

[2020-05-20 21:48] mqus commented on #321
I updated the issue text to summarize the current status.

[2020-05-21 05:36] vitusortner commented on #321
Awesome! Thanks for your investment!

[2020-05-21 05:38] JunCheung commented on #334
[code]
In widget,
[code]
When user click a button, I will call
[code]
but stream did not update. BTW, Insert is OK.

[2020-05-21 09:01] mqus commented on #334
Yeah, I see the issue.
[code]

We are currently not analyzing the queries given in `@Query` and expect a `SELECT`- Query there. So if you put a delete-statement in `@Query` then floor thinks that you did something that didn't change the database and won't update the Stream. Is there a reason you didn't use `@delete`? It should do exactly what you want in that case. Only the delete-all-function cou

[2020-05-21 09:27] mqus commented on #329
Ah right I didn't check which package you referred to, copyable was last updated almost a year ago and is [not really compatible](https://github.com/kuanfajardo/copyable/blob/master/pubspec.yaml#L15) with floors version of analyzer...

[2020-05-21 11:56] mqus commented on #334
I'm frequently surprised that we mention all of this in the README:wink::
(https://github.com/vitusortner/floor/blob/develop/floor/README.md#limitations-2):

[2020-05-22 03:25] JunCheung commented on #334
Got it. I saw deletion in query: https://github.com/vitusortner/floor/blob/develop/floor/README.md#queries, so I use `@Query` for the deletion. I will update my code.

Thanks.

[2020-05-22 03:33] JunCheung commented on #334
Can I use `@delete` with primary key only but not the object?

[2020-05-22 06:01] mqus commented on #334
No, that is currently not possible.

[2020-05-22 07:42] JunCheung commented on #334
Ok, Thanks.

[2020-05-22 07:42] #334 closed

[2020-05-22 16:55] fnicastri commented on #166
Think the main question should be: should a basic knowledge of SQL  needed to use floor or not?
Honestly I would prefer if you guys focus on the needed functions (type converters and the query analyzer) and not to dissipate energies in something that could be easily done in SQL.
but YMMV

Thanks for the wonderful work on this library

[2020-05-23 06:14] vitusortner commented on #166
That's what we're going 🚀

[2020-05-23 12:29] vitusortner commented on #81
Fair points. I was under the impression that when a migration e.g. from version 1 to 2 fails, version 2 will still be the new database version. This means that no data has been migrated but the new version is used already.

Solutions:
- provide the possibility of validating manual migrations earlier 👎
- **make Floor generate migrations** 🚀

If Floor would be able to generate migrations the chances

[2020-05-23 15:39] mqus commented on #81
I think generating migrations is pretty impossible to get right...  But I haven't worked with many ORMs yet[1] to have a good impression on how others do this. Why do I think it is impossible then? What has to happen in migrations:
* adding/removing/changing columns
* adding/removing tables with constraints (indices/relations to other tables)

All of the above are very semantic operations which he

[2020-05-23 18:17] mqus commented on #81
After looking at the code it doesn't seem impossible to fail when we need to. I would also automatically put each migration into a `Transaction` that gets rolled back if anything fails. This would need `Migration.migrate` to accept a `Transaction` instead of a `Database`, which should be a painless substitution in many cases.

[2020-05-23 20:05] mqus opened #338 "Streams over single values do not emit null values"
As mentioned in #320, Streams over a single value like the one in the following example do not update if it returns no result:
[code]
So if the person with the matching id is deleted, the Stream will re-execute the query but will not propagate the null result.
As this is this way to emulate Rooms behaviour then there are three actions we can take (and I think we should take at least one of them):

[2020-05-24 20:28] otopba opened #340 "[feature] Dao independent transactions"
Sometimes you need to make a transaction that will work with several DAO or will have a lot of logic. I would like to have separate methods for starting and ending a transaction. Now, having only an annotation, this is not possible

Thank you!

[2020-05-26 22:16] kosik opened #342 "@MappedSuperclass"
Hibernate ORM as good as javax.persistence package provides handy inheritance strategy. You can extend your class with parent @MappedSuperclass and keep/separate common properties in-table or out-table.

Catch one eye here, how coll it might work:

@MappedSuperclass
public class BaseEntity implements Serializable {

    @Basic(optional = false)
    @Column(name = "create_time_stamp", nullable = fa

[2020-05-26 22:58] mqus commented on #342
I must confess that I don't really know how MappedSuperclass works but you can let classes marked with `@entity` or `@DatabaseView` extend baseclasses which contain common fields. They are then treated by floor as if they are a field of the entity class. You won't have to annotate the base class itself and you can annotate the fields there like the fields in a regular entity if needed.

An example

[2020-05-27 09:10] mqus commented on #342
So I looked up `@MappedSuperclass` now and it is exactly like I described. You can use it in floor exactly like in JPA, only that you don't have to annotate the base class with `@MappedSuperclass`, it is included automatically.

[2020-05-27 10:25] mqus commented on #295
As there were no answers for two months, I will be closing this issue. If you are still having problems with this, please share some more code with us and reopen the issue!

[2020-05-27 10:25] #295 closed

[2020-05-27 10:31] mqus commented on #225
Do you still have this problem? If yes, could you please share some code with us to help us reproduce the issue? One idea I have right now: is the method marked with `@transaction` part of a DAO class?

[2020-05-27 10:59] mqus commented on #256
As I wrote before, building a `CREATE TABLE` statement which sets the default with literal values or expressions (like you wrote) is very easy. But selectively omitting fields when creating an `@insert` function is hard[1]! If we don't omit them (like we do now) we set the column of this entity to its value (possibly null) and sqlite won't use the default value, ever.
To use this, you would have t

[2020-05-27 19:04] vitusortner commented on #256
Contributions for `ColumnInfo.defaultValue` are very welcome, indeed!

[2020-05-27 19:17] vitusortner commented on #340
What would you think of something similar to the following? We could add a member function on `FloorDatabse` that can be used for executing DAO functions inside a transaction.

[code]

[2020-05-27 19:26] vitusortner commented on #338
Your first point sounds great. I'll open a PR in a bit to add proper documentation. About the second and third, I would prefer to wait until Dart's non-nullable types arrive as the feature doesn't seem to be too urgent. This way, we can make use of the type system to infer if `null`s should be propagated. Nullable types will have to be marked with `?` whereas non-nullable types will stay the same.

[2020-05-27 19:28] otopba commented on #340
@vitusortner
Yes, it can be done that way. But then how can we say that the transaction is successful or not? If there was no exception, is the transaction successful?

[2020-05-27 19:42] vitusortner commented on #81
Sounds reasonable 👍

[2020-05-27 19:48] vitusortner commented on #313
Such cases won't be possible anymore with the type converters implementation because we'll be making sure that used values and types are database-compatible. If they're not database-compatible out of the box, we'll be looking for matching type converters. If no converter can be found, an error will be thrown.

[2020-05-27 21:34] hsul4n opened #345 "sqfliteDatabaseFactory returns object"
Getting syntax error `The method 'getDatabasePath' isn't defined for the type 'Object'` because
`sqfliteDatabaseFactory` returns `Object` instead of `DatabaseFactory`.

https://github.com/vitusortner/floor/blob/5dd32c3b5cecbb16205d54145f736befbb371253/floor/lib/src/sqflite_database_factory.dart#L8

[2020-05-27 21:45] vitusortner commented on #345
Did you run flutter pub get already? This functionality has been introduced with the lastest release which makes the library depend on a new package.

[2020-05-27 21:54] hsul4n commented on #345
Yep, I've run `flutter pub get` already but still getting the same. also, I tried to upgrade SDK as same as in example `>=2.6.0 <3.0.0`,

Is there any future purpose that prevents passing return type as `DatabaseFactory`.

[2020-05-27 21:57] mqus commented on #313
This case was a special case where no type was set for a variable, so we should definitely look out for it (or test for it). But in either case this is an easy fix, if it occurs again.

I will be closing this issue, as @Henvealf hasn't mentioned any other issues. If you still have this problem please reopen this issue or open a new one.

[2020-05-27 21:57] #313 closed

[2020-05-27 22:15] mqus commented on #345
I also had that problem and my solution was running `pub upgrade` (with all caveats). I assume that we are giving a dependency range for a dependency which is too permissive on the lower end.

We might have to change
https://github.com/vitusortner/floor/blob/0284749b276fd8e3eed1380159ca7a43009eb352/floor/pubspec.yaml#L14
to
`sqflite: ^1.3.0 `

But I don't know if that is everything that's necessar

[2020-05-29 07:58] Bramiproject opened #347 "Joint Table not Mapper in Object Class"
How to Joint Table multiple object class ?

[2020-05-29 10:15] mqus commented on #347
I'm sorry, I really don't know what you want to achieve with the little information you gave. Please write more and/or give an example.

[2020-05-29 10:22] Bramiproject commented on #347
In Java / Kotlin Environment to do a Join Table using @Embedded annotation, but if in the Library floor use what annotation to map the Object Class ?

For the ex. in Java :
`@Query("SELECT * FROM Foo")
List<FooAndBar> findAllFooAndBar();

public class FooAndBar {
    @Embedded
    Foo foo;

    @Relation(parentColumn =  "Foo.bar_id", entityColumn = "Bar.id")
    List<Bar> bar;
    // If we are sur

[2020-05-29 11:24] mqus commented on #347
Well, that is easy to answer now :D

Currently, `@embedded` is not supported, but afaict it will be in the next version, thanks to @hsul4n s work in #328. But his is only a part of the things you will need so you may have to create a `@DatabaseView` with your query until we fully support arbitrary types as outputs from `@Query` functions.

I can post an example here when the embedded function was

[2020-05-29 11:46] Bramiproject commented on #347
Well, Thank you @mqus for your information 😃
I will wait for further information 🙏🏻

[2020-05-31 16:38] daniloadorno opened #348 "information"
how to do?

@Query(sql)
  Future<T> findBySql(String sql);

[2020-06-01 04:54] brettus78 opened #349 "Question: Does Floor offer any form of encryption?"
Hi,

Looking at Floor and it seems like the go-to package, but I really want something that will __encrypt__ the data.
Does Floor offer this or is it on any road map?

Cheers,
BJ

[2020-06-01 12:48] mqus commented on #349
Hey brettus78!
I like your idea. We don't offer it and have not planned anything like it (yet?).

The general question here is: What is your usecase?
More specific: In what way do you want floor to encrypt *the data*? Do you want to encrypt the stored sqlite file when no one is accessing it (that would be a feature sqflite[1] would have to provide) or do you want to encrypt single fields(That woul

[2020-06-01 13:23] mqus commented on #348
Sadly we don't allow completely dynamic queries like yours. Your use-case might be an exception but generally this is also not a good idea because of sql-injections and other issues.

It might be possible to use `@rawQuery`/`isRaw` for this once it is implemented (see #315), but you will miss auto-updated Streams and static type validation, which can only be done on queries which are known at comp

[2020-06-01 14:07] TheKewlStore opened #350 "Bulk inserts lock database and break other stream queries"
When using this library to do bulk inserts of upwards of 30000 records, my database gets locked and stream queries that track changes to the daos (particularly ones that aren't even related to the insert).  I attempted to run the insert in a compute or an isolate, but that doesn't work because it doesn't have access to the memory objects it needs.

What did seem to work for me was creating an _ins

[2020-06-01 14:07] TheKewlStore commented on #350
https://github.com/vitusortner/floor/pull/351

[2020-06-01 14:12] jaumzera opened #352 "Can't compare fields against blank"
I'm not sure if its a Floor's issue, anyway I'm reporting here just to check.

Anytime I try to compare a field against blank (''), the generated comparison breaks the SQL. For instance:
[code]
The output is:

[code]

[2020-06-01 14:21] mqus commented on #352
Did you try to escape the `'` literals (`\'`)? It could be possible that dart detects `'abc''def'`as two appended strings with the combined value of `'abcdef'`
Could you write the complete line (including `@Query` and everything)?

[2020-06-01 14:34] jaumzera commented on #352
Yes, I did.
The query I've mentioned above was only illustrative, the real query is a little bit more complex:
[code]
outputs:
[code]

Scaping seems to has no effect:
[code]
The output is the same.

[2020-06-01 14:44] mqus commented on #352
Thank you! I'll take a look.

[2020-06-01 21:11] mqus commented on #352
Ok I think I found the issue, **floor** is not escaping `'` correctly, we just insert them as-is. I'll try to whip up a fix tomorrow. Here is the line that needs fixing:
https://github.com/vitusortner/floor/blob/0284749b276fd8e3eed1380159ca7a43009eb352/floor_generator/lib/writer/query_method_writer.dart#L129

[2020-06-01 21:29] jaumzera commented on #352
Nice.
A fixed it temporally using `length(f.segment) > 0`

[2020-06-01 22:46] jaumzera commented on #352
Well, I don't know if it helps, but what I've just realized was when I use `length(f.segment) = 0` the output query is generated in a single line:

[code]

So I think the point is somewhere berfore the line you commented. Maybe here: floor_generator/lib/processor/query_method_processor.dart:63

[2020-06-02 06:42] mqus commented on #352
The single vs multiple line happens because tge code generator formats the code and will try to reduce line width by putting the second part (separated by `''`) on a separate line. When no `''` are there then it will not split the string and everything remains on the same line.

[2020-06-02 12:50] Bramiproject commented on #347
Hi @mqus,

Please your advice if use @DatabaseView how to using condition on Query in @DatabaseView ?

Ex.
`Select * From foo Where id = :id
class Foo{
   int Id;
   Foo(Id)
}
`

[2020-06-02 15:05] mqus commented on #347
Parameters won't work in the declaration of a databaseview.

[2020-06-03 06:55] AMBE1203 opened #354 "How to open a database in assets folder?"

[2020-06-03 16:16] vitusortner commented on #354
It's not officially supported as of now but it is on the feature request list. Until the feature is implemented, you could take a look at #255 where we've been discussing the same topic.

[2020-06-03 16:16] #354 closed

[2020-06-06 19:06] daniloadorno commented on #348
is that in some cases it is necessary to take only one field, in other cases it is necessary to make a count, in other cases it is necessary to do sum, the dynamic query would greatly decrease the creation of methods.

[2020-06-06 19:08] daniloadorno commented on #348
I made this implementation to give me this power:

ex:

Future<List<Account>> findListBySql(String sql) async {
    final rows = await dbHelper.database.rawQuery(sql);
    return rows.map((row) => Account.fromJson(row)).toList();
  }

[2020-06-10 11:58] Bolling88 opened #356 "Destructive migration"
Hi!
Are there any plans for adding Destructive migration?
Like, if we change the database, and increase the DB version number, and we don't provide any migration, we can flag that we would like a destructive migration, which means we clear the database and it just keeps working, without crashes.

[2020-06-11 18:55] #345 closed

[2020-06-12 17:05] arnzuk opened #357 "Does floor support JSON1 Extensions?"
Hi,

Does floor support JSON1 Extensions?

https://www.sqlite.org/json1.html

Arnoldas

[2020-06-13 20:29] vitusortner commented on #357
Hi 👋 The JSON1 extension isn't supported because the library (sqflite - to be more precise) uses the SQLite databases provided by the system it is running on, which usually doesn't include the extension. More details https://github.com/tekartik/sqflite/issues/70

[2020-06-14 13:23] John-He-928 opened #358 "WITHOUT ROWID table support"
It would be great to support creating [WITHOUT ROWID tables](https://www.sqlite.org/withoutrowid.html) using the `@Entity` annotation like `@Entity(withoutRowid: true)`.

WITHOUT ROWID table annotation should be easy to implement by just appending `WITHOUT ROWID` in the CREATE TABLE statement. It may be useful in creating small tables with primary keys other than `INTEGER PRIMARY KEY`. One example

[2020-06-14 18:43] mqus commented on #358
I think this is a good feature to have and shouldn't take much effort to implement. `WITHOUT ROWID` does only work in sqlite but I think we don't have any plans to support other SQL dialects.

IMHO we can definitely accept pull requests for this.

[2020-06-14 18:46] mqus commented on #340
Usually, yes. I don't know why that shouldn't be the case.

[2020-06-14 19:12] mqus opened #360 "handle changeListener inputs in transactions correctly"
This is something that would help us in handling the changes made by transactions and lessen the amount of updates that take place.

Currently, database changes made in `@transaction` functions immediately notify the changeListener and start to update the table in streams. This has the following problems:
- The tables are updated, even if the transaction is not finished yet (and therefore no chang

[2020-06-14 19:29] mqus commented on #360
Ah right, one more thing:
- Is there a reason why the transaction currently only returns void? Afaict it should be able to return anything (wrapped inside a Future, obviously).

[2020-06-14 19:40] mqus commented on #340
I want to add, though, that if we want to add support for `database.runInTransaction` then we will have to give the inner function its own database (backed by the transaction). So the actual invocation would look like this:
[code]
or this (just using a function reference instead of a closure):
[code]
This would fit nicely into #360, too.

[2020-06-17 17:06] vlytvyne opened #362 "ORDER BY won't work with query parameters"
I have query like this:

[code]

Which generates this:

[code]

When I try to use this query I get the following error:

[code]

Although generated code looks working seems that there is no way one can use "?" with ORDER BY key word in `queryList()` method, which I find frustrating as It means I'll have to duplicate query for each list I want to sort, like this:

[code]

The above code duplication

[2020-06-17 20:13] mqus commented on #362
We currently only support `?`/`:var` for the very narrow role of sqlite variables. This means(from the sqlite side of things) that they can be a substitute for values, but not arbitrary parts of the query, to eliminate any chance of sql-injections. Floor itself is currently going in a direction(1) where replacements of arbitrary query parts will be even harder than they are now.

I know three quic

[2020-06-17 23:39] brettus78 commented on #349
When you put it that way - I have to completely agree. This should really be handled by the code and/or OS.

[2020-06-17 23:39] #349 closed

[2020-06-19 10:58] vlytvyne commented on #362
I guess the solution with `@rawQuery` is really neat and straightforward here, hope to see it in the future, it would be extremely useful.

[2020-06-19 10:58] #362 closed

[2020-06-22 20:27] TheKewlStore opened #363 "Errors under testing using SQFlite"
I am having troubles using the database in a test environment via android studio. It seems the generated code does not have what it expects from sqflite in this environment, as the generated code complains that it can't find `sqflite.getDatabasesPath()` and `sqflite.openDatabase()` functions.

I tried to copy your test examples as best as I could, like so:

I created a separate FloorDatabase subcl

[2020-06-22 20:45] #350 closed

[2020-06-22 21:31] mqus commented on #363
This reads exactly like an sqlflite version error like in #345, which was adressed in #355, but not yet released.

Seeing that those issues keep appearing and the currently open PRs are not ready soon, I would propose a release of 0.13.1, which contains your PR and the dependency update. What do you think, @vitusortner?

[2020-06-23 15:05] TheKewlStore commented on #363
In the meantime, can I force floor to use a later version of sqflite manually? Like if I include it in my project's pubspec, will that override it? (Still a little new to flutter in general)

[2020-06-23 18:25] vitusortner commented on #363
You should have two options: Run `flutter pub upgrade` or use [pub's dependency override capabilities](´https://dart.dev/tools/pub/dependencies#dependency-overrides) to define a specific sqflite version (which should be 1.3.0 or newer).

@mqus I'll create a release right away 👍

[2020-06-24 05:20] jaydangar opened #364 "Singleton pattern issue"
Hello, First of all Thank you very much for making job really easy for DB in flutter for the beginners like me, Really appreciate this work. I want to ask that How can I create DI for abstract classes? I am using KIWI for DI and it requires an object of a class to initialize to the container.

I am using Floor package for local database storage in flutter, which requires to create abstract classes

[2020-06-24 13:43] TheKewlStore commented on #363
For mine to work properly, I actually needed to make two changes to my pubspec:

[code]

Not sure if both of these are necessary or if I just needed to specify sqflite 1.3.0+2 instead of only 1.3.0.

[2020-06-26 20:44] TheKewlStore commented on #363
Just tried updating to the latest version (0.13.0) and the generation fails with an error along the lines of "FloorGenerator failed, null value encountered"

[2020-06-27 14:25] mqus commented on #363
@TheKewlStore could you share the exact error? That sounds like it is another issue.

A new version was not released yet, 0.13.0 is from May.

[2020-06-27 15:26] TheKewlStore commented on #363
Oh, so i've been using an older version this whole time haha.

Just so there isn't any confusion, here is what my pubspec looks like with my current working configuration (pared down to what i believe is relevant):

[code]

And here is how i modified it to use floor 0.13.0.

[code]

I removed the +2's as you mentioned, that removed the !sqflite 1.3.1 error but didn't fix the generation. On 0.13.0

[2020-06-27 19:40] mqus commented on #363
You could use -v when running build_runner, this should give more context iirc.

[2020-06-29 03:15] mathieurousseau opened #366 "Inheritance - mapper set all type as double"
I have inheritance as:
BnEntity => ListEntity => Consequence.
It almost works, but the mapper generated ignore the fields type and use double for all of them.

[code]

But generated mapper:

[code]

[code]

[2020-06-29 15:44] lucasmaffazioli opened #367 "How to reset an in-memory database?"
I'm creating tests for my app and before every test I need to reset the database to its initial form, since I have autogenerated PK columns.

Currently I'm doing this:
`database = await $FloorAppDatabase.inMemoryDatabaseBuilder().build();`

But the database I get is the same that I had before. Is there a way I can do this?

[2020-06-29 18:13] mqus commented on #366
This very much sounds like an issue we already had(can't search right now) but it's because your source code is not valid dart, specifically your constructor. Run dart analyzer or flutter analyzer to make sure your code is right before generating the database code ;)

[2020-06-29 18:15] mqus commented on #366
One more comment: its double because floor can't derive the type and double is the fallback. The typeconverters feature will change this and will throw an exception instead.

[2020-06-29 18:21] mqus commented on #367
The obvious workaround would be a dao function which drops all data... But we should definitely look into why the in-memory db is not a new one. I'll try later.

[2020-06-29 19:32] mqus commented on #367
We also have integration tests, e.g. here:

https://github.com/vitusortner/floor/blob/6209163750ed80c6f3a8ecd0401f1d51fdcbd41b/floor/test/integration/blob/blob_test.dart#L12-L35

As you can see we're also using an `inMemoryDatabase` and everything works as expected. This is of course only a simple case, we also have [files with more than one test](https://github.com/vitusortner/floor/blob/develop/

[2020-06-29 20:28] mqus commented on #364
"Didn't work"? Please be more specific. "Didn't work" ranges from "Nothing happened" to "My house burned down".
Please also provide the code where you try to access the singleton. We can't help you if there is only one half of the usage there. If you think yourself as a beginner, please try to give as much context as possible, e.g. the file hierarchy, what commands/actions you executed(commands, s

[2020-06-30 03:51] mathieurousseau commented on #366
Both android studio and flutter analyze don't complain at all about that code. So I am clueless what's wrong with it.

This being said:
- declaring types in the constructor is fixing the problem of the generation:
[code]
Generates:
[code]

Now my app is still broken with those constructor:
- Default value of constructor does not work
- Object is showing null on all fields

I'll try to read more wh

[2020-06-30 23:21] lucasmaffazioli commented on #367
Thanks for the response! Indeed, the tests of Floor really works.

I think is not a bug of Floor, so if you don't think this problem is related to this awesome plugin, please close the issue. Thanks.

I'm using GetIt and even tho the build method is called, the DB is the same.

[code]

Here's my output:

[2020-07-01 10:26] mqus commented on #367
This really doesn't look like a bug on our side, but I also can't make out why it would not work in your case.
But I'm not 100% sure. Do you have a minimal example which reproduces the behaviour? If not I can try to reproduce it myself but it might take a bit longer.

[2020-07-01 15:51] mqus commented on #367
I noticed a difference: our integration tests close the database afterwards, your code snippet doesn't seem to do that.

[2020-07-02 10:26] lucasmaffazioli commented on #367
Yeah it was that easy. hahaha... I thought the act of resetting get_it, and consequently the object that had the DB would re-create from 0.

Thanks a lot for your work on the plugin and your help!

[2020-07-02 10:26] #367 closed

[2020-07-03 09:24] proninyaroslav commented on #165
Hi. Do you have an approximate release date for this feature?

[2020-07-07 07:29] amila4d opened #368 "autoGenerate not working - @PrimaryKey(autoGenerate: true)"
When I insert object to the database it will giving unique constraint error. I have passed o and null for auto increment ID. But it is not success. I have to give manual increment number to save object data to database.

[2020-07-07 20:45] mqus commented on #368
Hi and thanks for reporting!

I was actually not sure if this works, so I wrote an integration test: https://github.com/vitusortner/floor/blob/issue/test-%23368-autoincrement/floor/test/integration/autoincrement/autoinc_test.dart

This test runs through successfully though (with the id set to `null` before inserting it), so I assume that there is another issue with your code. Could you post the re

[2020-07-08 06:41] Jparrgam opened #369 "Entity with field another entity"
Hi @vitusortner, i have a question it is possible that an entity can contain other entities for example:
`@Entity(tableName: 'configuration')
class Configuration {
  Settings settings;
}`

`@Entity(tableName: 'configuration')
class Settings {
  //fields
}`

[2020-07-08 08:47] Keithwachira opened #370 "Deleteing the whole database"
Hello,  is there a way to delete the whole database file.Something similar to sqflite deleteDatabase(path);

[2020-07-08 09:25] Ltei opened #371 "Allow named/optional parameters for dao methods"
Currently, this

[code]

will generate this

[code]

Which is not a valid override of the method getAllSortName.
Would it be possible to allow named/optional parameters for dao methods?

[2020-07-09 18:56] cassioseffrin opened #372 "Question: Which is the best approach to update stream when new records are inserted"
I am facing a situation in a StreamBuilder that holds a List of Objects from sqlite. That List<Object> is a Stream from floor DAO.  What I am trying to achieve is something like is made in firebase. The firebase emit new values to stream when they are inserted, in case of sqlite the values comes from a SELECT. My first idea was create a trigger that notify the bloc about the new record inserted an

[2020-07-09 19:43] mqus commented on #372
Currently, streams *are* already triggered by dao methods which `@insert`, delete or update. But those streams contain the whole updated table, not just the changed records, so if I understand you correctly then you only want to see what changed, right?(let's call it a diff).

This should be achievable by making a middleman which recieves the stream update from floor, compares it to the previous v

[2020-07-09 20:03] cassioseffrin commented on #372
That sounds very good @mqus (streams _are_ already triggered by dao)! I don't have reached the point where my middleware will sync the sqlite database with the REST API. May the streams from "floor DAO" will  do all the work for me. I still haven't tested if the whole lists of stream will not impact in slow updates. I will need to test it, however I suspect even adding just one item in stream the

[2020-07-09 20:03] #372 closed

[2020-07-12 11:32] noordawod commented on #165
@vitusortner
Got any time estimation for adding this support?

[2020-07-12 11:38] mqus opened #373 "Feature: Update streams even less often"
#361 already reduces the stream updates for Views, but also introduces dependencies for foreign key relations (as they should), but treats all dependencies equally, even if some updates will not ever propagate through those dependencies. This mostly occurs in the following two cases:

Assuming two tables: Dog and Person, with Dog having a person_id (a foreign key). If I remove a person or make an

[2020-07-12 11:43] mqus commented on #371
This is currently not possible but it might be a good idea. A workaround for now would be to add a wrapper method which has those optional parameters and then calls the DAO method:
[code]
I haven't tried it but it should work.

[2020-07-12 12:01] mqus commented on #370
We currently don't have an API method for that. But since we also just piggyback on sqflite, you can use those methods just fine. I haven't tested the following example but it should work (modulo syntax errors):
[code]
I took the path from here:
https://github.com/vitusortner/floor/blob/6209163750ed80c6f3a8ecd0401f1d51fdcbd41b/floor/lib/src/sqflite_database_factory.dart#L22-L24

But if you want ep

[2020-07-12 12:08] IanDarwin commented on #165
If you need it now, switch from floor to moor, like I just did. It's a non-trivial switch, but (a) they handle datetime, and enums, and various other things and (b) they already support type converters if you don't like the way they handle e.g., datetime (they store as a Unix time_t, but my existing app database used yyyy-mm-dd, so I just wrote a trivial converter and it's up and running). See htt

[2020-07-12 12:12] mqus commented on #369
There are mainly two ways of achieving what you want and both are sadly not yet available.
1. If you want `Settings` to be its own table in the database and query it like one, then you want something like `@Relation` (Feature Request #47 )
2. If you want `Settings` to be embedded into `Configuration` and the table of `Configuration` simply including all the fields of `Settings`, then you want `@Em

[2020-07-12 12:12] #369 closed

[2020-07-12 12:13] mqus commented on #366
This seems to be resolved, closing. Please reopen if you disagree :)

[2020-07-12 12:13] #366 closed

[2020-07-12 12:19] mqus commented on #342
This seems to be resolved, closing. Please reopen if you disagree :)

[2020-07-12 12:19] #342 closed

[2020-07-12 12:25] mqus commented on #347
Closing as a duplicate of #9 and #94 . Please reopen if you disagree :)

[2020-07-12 12:25] #347 closed

[2020-07-12 12:27] mqus commented on #214
Closing due to inaction. Please reopen if you disagree :)

[2020-07-12 12:27] #214 closed

[2020-07-12 12:28] mqus commented on #225
Closing due to inaction. Please reopen if you have an update :)

[2020-07-12 12:28] #225 closed

[2020-07-12 12:32] mqus commented on #304
This issue seems to be solved, closing. Please reopen if you disagree :).

[2020-07-12 12:32] #304 closed

[2020-07-12 12:41] mqus commented on #357
Did #326 change any of this for the desktop platforms?
I don't think this will change soon for Android/iOS or that we can do anything about it (other than maybe #91). But I think we can keep this issue open to track this effort.

[2020-07-12 12:45] Keithwachira commented on #370
Thank you for the reply....i think i will just be deleting all tables instead...when he user logout.

[2020-07-12 14:42] proninyaroslav commented on #165
@IanDarwin
The current solution is not entirely beautiful, but working: use a shadow variable in entity to store data in DB format, and convert it in the getter or initialize a field with the desired type in the constructor.

[2020-07-12 15:16] IanDarwin commented on #165
On Sun, Jul 12, 2020 at 07:42:31AM -0700, Yaroslav Pronin wrote:

That would have worked, I guess. Too far along to revert from moor to floor;
busy working on the rest of the building.

[2020-07-12 15:38] fnicastri commented on #165
This is what we do in our current app.
Not ideal but it works.
About Moor, we discarded it because we don't like the way you need to declare the models.
We love Floor because is a thin layer ;)

[2020-07-12 18:55] noordawod commented on #165
I looked at Moor, and it's too big and too opinionated. The less entanglements the better, and Moor is full of them.

[2020-07-15 06:01] nawinkhatiwada opened #374 "NoSuchMethodError: The getter 'name' was called on null. Receiver: null Tried calling: name"
Error while running `flutter pub run build_runner build `

Error in AndroidStudio Logcat
[code]

VERSION USED:
[code]

My DAO Class

[code]
 ENTITY CLASS:

[code]

DATABASE CLASS

[code]

When ever i try to query `id` from `users` with return type of `Future<int>` the code generation does not work. But when the return type is `Future<void>` the code generation is successful where am I wrong?

[cod

[2020-07-15 06:28] mqus commented on #374
Single-column return for arbitrary queries is not yet supported and will come with #361. See also #200.

[2020-07-15 06:40] nawinkhatiwada commented on #374
When will this feature be released? Is there any estimated date for the release? If it is going to take some time then I will rather shift to another library. There are numerous use-cases like this in my project.

[2020-07-15 19:07] mqus commented on #374
This feature is mostly ready functionally. There are some tests missing and it was not reviewed yet, so I think it will probably take at least another month until the release.

[2020-07-15 19:11] mqus commented on #374
But if you are willing to accept a few more bugs(that I don't yet know of) and 5 Minutes of effort, you can clone the PR branch into your project (e.g. as a git submodule) and add it to your pubspec.yaml If you find any bugs then I will try to fix them asap(think hours)

[2020-07-16 04:48] nawinkhatiwada commented on #374
I will give it a go and ping you if I have any issues.

[2020-07-18 07:10] inboxg9 commented on #374
I had a similar issue, and ended up creating a [DatabaseView](https://github.com/vitusortner/floor#database-views), and running the query via that.

[2020-07-18 11:19] sathishmscict commented on #270
While we are using this method.  insertItem  and updateItem methods are not generated in database_file_name.g.dart file.

[2020-07-18 14:30] mqus commented on #270
@sathishmscict Can you open a new issue and include at least your DAO code and which version of floor you are using? The example we have in the integration tests at least does not show any issues and the test this exact example is from also does not fail.

[2020-07-18 21:40] noordawod opened #375 "Null safety"
Hi again.

Is there a plan to support null safety for the generator sometime in the future?

Thanks.

[2020-07-19 00:14] mqus commented on #375
I assume that you're referring to the [null safety of dart](https://medium.com/dartlang/announcing-sound-null-safety-defd2216a6f3) and how we will interact with non-nullable types in the code analysis and generation. And (speaking for me) there absolutely is one.

The sqlparser integration(still WIP but complete feature-wise) already supports type derivation of (non-)null query parameters and type

[2020-07-19 19:27] vitusortner commented on #375
I do agree with everything @mqus mentioned. There is high interest in supporting Dart's non-nullable types!

[2020-07-23 14:53] libinwalan opened #378 "can @Query support part attributs?"
I want to query id from a table, so ,i add this to the dao file
` @Query('SELECT id FROM Taskitem')
 Future<List<int>> findAllTaskitemIdList();`

but this build error with output
"[SEVERE] floor_generator:floor_generator on lib/entity/database.dart:
Error running FloorGenerator
NoSuchMethodError: The getter 'name' was called on null."

So, can floor support this? how can i do ?
thanks

[2020-07-23 22:28] mqus commented on #378
This is pretty much the same issue as #374 and is that way because primitive Values as returns from dao methods are not supported yet. They are already implemented though (#361) and just need a review and some testing. If you check out the branch and reference floor through a path reference in your pubspec then you can try it out right now. Alternatively you can look at the linked issues (e.g. #20

[2020-07-24 20:25] jaumzera opened #379 "Generated method without return statement"
I have the following method in a class called `SimulationDao` to save a simulation and its items:

[code]

But the generated method has no return statement:
[code]

[2020-07-25 00:30] marcosmko opened #380 "Auto-fill object id after insert"
Hello all!

When I insert an object into the database, I can get a int value as the id of my object.
Is there a way to auto-fill the respective object variable?

Without this, I would need to create some boilerplate code just to update the id of my object.

I'm cracking my head so I can better separate modules and integrations with the rest of code, keeping particularities from databases above the

[2020-07-25 00:51] marcosmko commented on #165
Yeah it could come as an out of the box feature.

I would like to suggest to also provide option to transform DateTime to iso8601 or millisecondsSinceEpoch too, where we could config in a [build.yaml](https://github.com/dart-lang/build/blob/master/docs/build_yaml_format.md) file 🤔.

Waiting for this feature to come out!

[2020-07-25 07:01] mqus commented on #380
We currently don't support this. I'm not sure of the implications (e.g. we currently do not use setters at all) but I think this is worth looking into.

On the other hand, the amount of boilerplate you'll have to write is really limited since you'll only have to write a wrapper for the insert function. If you have multiple entities this can be solved through inheritance of DAOs and entities.

[2020-07-25 07:05] mqus commented on #379
Your're right, this is a bug.

[2020-07-25 07:13] mqus commented on #379
Oh I have to correct myself: this is not exactly a bug, since this is a documented limitation:

Depending on the way you look at it, this could be a bug since it didn't report an error. But currently I don't see why transactions couldn't return values.

[2020-07-25 08:42] mqus commented on #380
e.g.
[code]

[2020-07-25 19:07] marcosmko commented on #380
This is exactly what I was looking for!
Thank you very much!

[2020-07-25 22:45] mqus commented on #375
Bookmark with lots of useful details: https://dart.dev/null-safety/understanding-null-safety

[2020-07-26 15:37] duy1998 opened #382 "Using "or" in Query"

[2020-07-26 17:57] mqus commented on #382
I just want to hint to you that if you provide no description of your issue then we won't provide a solution either.

[2020-07-27 10:08] xzhorikx opened #383 "Emit stream value after calling a method annotated with @Query(...)"
Greetings!

According to documentation, DAO methods annotated with `@Query` won't emit new values into the stream
[code]

**TL;DR in the end**

I have the following situation:
* Entity has 2 primary ID fields (id_local, id_remote)
* When the entity is being sent to the remote source, its values are `[id_local: "id_local", id_remote: null]`
* When the response is received, the entity has following

[2020-07-27 15:10] cassioseffrin opened #384 "Question: Dynamic query, Criteria Builder or Elasticsearch"
Hello Guys,

I am developing a complex filter screen where I have multiples fields that must be combined to perform the query with pagination (limit and offset). In my particular case I cannot get the entire list and work with stream transform due the fact my List<Entity> is paginated.

Floor has any alternative like  pass the entire query (dynamic query) to the dao instead just field parameters?

[2020-07-27 15:16] mqus commented on #383
This feature is currently worked on in #361 and will work in the following way: floor will parse your sql statement in `@Query` and will then determine by itself which tables are updated. This work is mostly done, some tests are missing and it wasn't reviewed yet, but you can try it out right now by checking out the branch locally. (as this is the third issue that needs this PR we should maybe spe

[2020-07-27 15:22] xzhorikx commented on #383
Thank you for your response! Since this issue is now referenced in the PR you might close the issue if you feel like it.

[2020-07-27 15:38] mqus commented on #384
You can use sqflite directly (via `$FloorMyDatabase.database.rawQuery()`, see below), but apart from that this is pretty much what #315 tries to implement (some kind of raw query which is *not* parsed and checked and uses simple string replacements for the arguments)

Using a raw query right now:
[code]

[2020-07-27 16:20] marcosmko commented on #175
Hello!

I would also like to have this feature, it is more easy to have the **generator** automatically do it instead of us needing to add parameter to constructor every time we add a new variable to the entity. Cracked my head every time when getting null values 🤪

Also, I will complement the initial request with some examples, to better clarify this feature.

When we declare an entity, we do it

[2020-07-27 18:25] cassioseffrin commented on #384
@mqus the simples raw queries have worked, thank you! I am closing this question.

[2020-07-27 18:25] #384 closed

[2020-07-28 15:29] luis901101 commented on #228
Why is this closed if web is not supported yet?

[2020-07-29 07:51] JAICHANGPARK opened #385 "[Urgent] Build Error About : [SEVERE] floor_generator:floor_generator on test/widget_test.dart:"
I tried to run build_runner build

[code]

## Flutter Doctor

[code]

[2020-07-29 08:00] mqus commented on #385
Try compiling with the flutter release channel. Apart from that, the issues seem to be in sky_engine, not in floor, as they seem to not yet support non-nullable types.

[2020-07-29 08:07] mqus commented on #385
Ok no I'm slightly wrong, sky_engine is just flutter. But you either have to enable non-nullable types or use the flutter release channel.

[2020-07-29 08:14] JAICHANGPARK commented on #385
@mqus  Thanks to support :)
I will try to change to flutter sdk channel from beta to master
and I comment this issue

[2020-07-29 09:07] mqus commented on #385
I'd rather recommend the "stable" channel (this is what i meant by release channel) but I'm not sure myself if this will actually solve you issue.

[2020-07-29 18:51] marcosmko opened #386 "Add option for renaming table and column names"
I would like to suggest a new feature inspired by json_serializable.

The naming convention for Dart is lowerCamelCase.
As SQL is a commonly used database, everyone has its preferences for naming tables and columns.

As such, we could have an option as [json_serializable](https://pub.dev/documentation/json_annotation/latest/json_annotation/FieldRename-class.html) offers in build.yaml:

[code]

In

[2020-07-29 22:53] JAICHANGPARK commented on #385
I found to occurred from analyzer this issue.
## Flutter Channel
- Channel beta, 1.20.0-7.3.pre,

[code]

##  Ref

- https://github.com/flutter/flutter/issues/56779

[2020-07-29 22:53] #385 closed

[2020-07-30 20:05] vitusortner commented on #358
Closed by #365

[2020-07-30 20:05] #358 closed

[2020-07-31 09:46] #379 closed

[2020-08-02 20:54] Ezaldeen99 opened #387 "The method 'where' was called on null"
So when I run ` flutter packages pub run build_runner build`

it is always failed with this message

[code]
but it works fine and generate the `database.g.dart`, but when I add any argument to the `Dao` to make an ORDER BY sort it doesn't work, when I hard coded it like this it worked I searched about other problems and checked that Future<void> and Future<List<Case>> is already there, here is the

[2020-08-03 11:33] moak13 commented on #130
Hi, I have a question. Am not totally sound on this but need assistance. I have entities [A, B] created and would like to know how to implement a Join by id from B (child) to A (parent), where both hold a list of items.

[2020-08-03 20:33] cassioseffrin commented on #200
It would be nice if the DAO could parse the generic results into primitive types. I understand the current limitations.

As an alternative I think it's possible to create a custom model with primitive type int and parse the result into it instead using raw queries. However it's just a hack!

[2020-08-04 15:06] mqus commented on #130
You could create a database view which has the join as the query and its result columbs as fields. You can then make a query on that view to return the results of that join.

[2020-08-06 12:51] cassioseffrin commented on #142
@mqus your quickfix will be very very useful. Do you could give us an estimative when it will be released to production?

[2020-08-07 10:27] erikseifert opened #388 "Could not use on linux"
[code]

Seems to get the correct ffi implementation but throws everytime this error.

[2020-08-10 09:52] sanisloandras commented on #387
Getting the same error, and more. Currently the lib is unusable?

`C:\Users\Andras\AndroidStudioProjects\nennos_pizza>flutter packages pub run build_runner build --delete-conflicting-outputs
[INFO] Generating build script...
[INFO] Generating build script completed, took 244ms

[INFO] Creating build script snapshot......
[INFO] Creating build script snapshot... completed, took 7.6s

[INFO] Initial

[2020-08-10 12:32] sanisloandras opened #389 "Bunch of database.g.dart errors"
Hi,

I'm getting a lot of errors at database.g.dart while trying to build my project.
Full source code available here: https://github.com/sanisloandras/nennos_pizza/tree/bloc_rearchitecture_pizza_details_investigation

[code]

[2020-08-10 19:40] vitusortner commented on #389
Hi! You seem to be having a faulty import statement in `add_to_cart_action.dart` which might have happened while moving files.

[code]

[2020-08-10 19:41] vitusortner commented on #387
Hi! This issue sometimes seems to occur after moving files. Imports similar to `file:///D:/android%20projects/doctors_memory/lib/pdf/invoice.dart` aren't supported and should be replaced with package imports.

[2020-08-10 19:43] vitusortner commented on #388
Which libraries are you using and what're their versions? Have you run `flutter packages pub upgrade`?

[2020-08-10 19:57] rajeevjaiswal commented on #389
@sanisloandras  you need to add this in the database.dart
import 'package:sqflite/sqflite.dart' as sqflite; // needed for floor db

If you don't have the package then you might need to add in pubspec.yaml

[2020-08-10 21:57] sanisloandras commented on #389
@vitusortner Thanks for noticing, I fixed that. But now I can not generate the database.g.dart file at all. The command never finishes. Here is a log of running it for 7 minutes. I updated the repo: https://github.com/sanisloandras/nennos_pizza/tree/bloc_rearchitecture_pizza_details_investigation

[code]

[2020-08-11 07:41] Ezaldeen99 commented on #387
@vitusortner  solution worked, I'll close this issue

[2020-08-11 07:41] #387 closed

[2020-08-11 09:12] sanisloandras commented on #389
Okey, so it's been 2 days since I'm struggling with this shit. What is going on?
I have created a project from scratch, just to test the floor part of my 'real' project.
https://github.com/sanisloandras/nennos_pizza_test
I could succesfuly build the database.g.dart file.
But,
1. Why did I have to manually import dart:async?
2. Why can't it still find  lots of classes from sqflite package, like sqf

[2020-08-11 09:21] rajeevjaiswal commented on #389
Before down voting have you actually tried doing this?.
I had same issue and import async and sqflite fixed the issue.

But definitely this should be mentioned in the documentation. If this is how it was supposed to happen.

[2020-08-11 09:29] sanisloandras commented on #389
@rajeevjaiswal
Yes, I did try, didn't down vote just for fun.
I added sqflite into pubscpec.yaml.
Tried to import it as this:
[code]

But I get this error:
`Target of URI doesn't exist: 'package:sqflite/sqflite.dart'`

I can succesfuly import 'package:sqflite/sqflite.dart' into any other class, I get the above error only when I try to import it in the database.g.dart.

You can check the test repo

[2020-08-11 20:04] rajeevjaiswal commented on #389
You mean importing in database.dart and not database.g.dart right?
In the sample code you are importing in the generated file

[2020-08-12 06:54] lukeic commented on #389
@sanisloandras I just spent some time trying to figure out this exact issue. I don't know specifics, but it seems there's a bug in a Dart library.

I fixed the issue for myself after coming across similar issues on the Hive repo:
https://github.com/hivedb/hive/issues/403
https://github.com/hivedb/hive/issues/390

I am able to generate the `database.g.dart` file with the following `pubspec`:
[code]

[2020-08-12 20:44] mqus commented on #142
This quickfix is(should be) working *right now*. But you will have to change it back after #361 is merged, which will solve this issue.

[2020-08-12 21:33] mqus commented on #386
I'm not sure on the specifics yet (e.g. where to configure that) but this seems like a reasonable feature.

But I have to mention that we will probably only have to convert between names with underscores and names without them, as `-`(kebab-case) is probably not used (can't be used in dart and has to be escaped in sqlite) and sql is not case-sensitive, so converting ClassName(dart) <-> classname(s

[2020-08-13 09:39] sinhphan opened #390 "Undefinde TestDatabase class"
![image](https://user-images.githubusercontent.com/1941392/90119305-59d12b00-dd94-11ea-8785-0dbd952c6447.png)

[2020-08-13 10:35] mqus commented on #390
DISCLAIMER: Badly formulated issues make me angry and will make me rant. Do not read the following if you want a civil and reasonable discussion.

/rant

Sorry that you are the specific person to get that pent-up anger. Your contribution is appreciated but *please* make it easier for us to help you. Just try to imagine: If you would get as much information as you see above: would you be able to he

[2020-08-13 21:56] mqus commented on #389
I also see this endless loop as well as some other error messages while running the tests, but only sometimes. What works pretty much reliably is pinning the version of `analyzer` to `0.39.14`, as described in https://github.com/vitusortner/floor/issues/385 and https://github.com/flutter/flutter/issues/56779, by adding
[code]
to your pubspec.yaml. This issue is probably (I don't really know) cause

[2020-08-15 00:42] sinhphan commented on #390
thank

[2020-08-15 00:42] #390 closed

[2020-08-18 12:13] cassioseffrin commented on #142
Any estimative how long this merge will take, also when this will be released in production? There are  39 commits in there. If there is a separated branch may I could help to test it.

[2020-08-19 12:14] mqus commented on #142
#361 is a separate branch. You can only open a PR if you have a separate branch.
![grafik](https://user-images.githubusercontent.com/8398165/90633320-22e09680-e226-11ea-9d33-71b85bd8e644.png)

[2020-08-19 17:19] cassioseffrin commented on #142
I have tried to add integrate-sqlparser branch in pubspec.yaml:

[code]

However I am getting an error:
`Error on line 17, column 11: Invalid description in the "floor" pubspec on the "floor_annotation" dependency: "../floor_annotation/" is a relative path, but this isn't a local pubspec.`

Seems like the path is invalid, but I can't get it to work even without path.

[2020-08-19 20:25] mqus commented on #142
I don't like to repeat myself, but if you have issues with #361, post them there! This issue here is not the place for it.
And also: if you would have [searched a bit](https://github.com/vitusortner/floor/issues?q=is%3Aissue+Invalid+description+in+the+%22floor%22+pubspec+on+the+%22floor_annotation%22+dependency%3A), you would have discovered #288 or [something similar](https://stackoverflow.com/qu

[2020-08-20 11:37] cassioseffrin commented on #142
@mqus.  I think you are terrible wrong:

Look how it's work, even in floor repo there are [people referring to a git repo directly] (https://github.com/vitusortner/floor/issues/292#issuecomment-605212010)

And plus, there are some nice packages that works with github and pub.dev. If your repo doesn't work it don't mean this doesn't work. it's very useful. It's not only work with flutter but also w

[2020-08-20 20:30] mqus commented on #142
To repeat:
The dependency chain `your_package` ---git-dependency-with-path---> `floor` ---path-dependency---> `floor_annotation` _does not work!_ Which is exactly what the linked stackoverflow page and the linked issue are about. This is not about using a git dependency and a relative path at the same time for the same dependency, but about the chain in this particular order, which does work in ot

[2020-08-20 20:58] cassioseffrin commented on #142
Ok @mqus

I have this doubt mainly because  your repository  https://github.com/mqus/floor/tree/integrate-sqlparser and  tulioccalazans repository https://github.com/tulioccalazans/floor seems to have the same directory structure and I was able to use his repository directly in pubspec.yaml but not yours.

This dependency chains is very difficult to understand in first view, also it's sluggish to

[2020-08-21 09:05] BigGitWorld opened #391 "Listen to table changes (insert, update, delete)"
Hi!
How can I listen to table changes in a flutter app by the Floor?
This feature is available in the **sqlcool package (https://github.com/synw/sqlcool#changefeed)**.
For example:
Please suppose, I have 2 BLoC classes in one of the screens of my flutter app.
I the BLoC1, I'm changing a value in a table and want to listen to the table changes in BLoC2 to do a specific work.
Could the Floor listen

[2020-08-21 09:53] #391 closed, assigned to nobody

[2020-08-22 12:00] ueman opened #392 "How do I select scalar values?"
Hey guys, first aff all thanks for your great library.

What I want to do is to select scalar values.

[code]

How can I do this?

[2020-08-24 04:36] claudneysessa opened #393 "How can I use a data type parameter in the query function on the floor?"
How can I use a data type parameter in the query function on the floor?

[2020-08-24 04:37] claudneysessa commented on #393
Example:

  @Query("""
    SELECT Coleta.*,
           ( select sum(ItemColeta.PD_QTD)
               from ItemColeta
              where ItemColeta.MCO_COD = Coleta.MCO_COD
           ) as MCO_TOTAL
      FROM Coleta
     WHERE MCO_DTAGENDA <= :data
       and MCO_STATUS = :status
  ORDER BY MCO_DTCOLETA
  """)
  Future<List<ColetaEntity>> findStatusDataMenor(int status, String data);

[2020-08-24 04:38] claudneysessa commented on #393
Você quis dizer: Este código a cima não funciona, porém se eu colocar direto o valor funciona
75/5000
This code above does not work, but if I put it directly the value works

@query("""
SELECT Coleta.*,
( select sum(ItemColeta.PD_QTD)
from ItemColeta
where ItemColeta.MCO_COD = Coleta.MCO_COD
) as MCO_TOTAL
FROM Coleta
WHERE MCO_DTAGENDA <= "2020-08-01"
and MCO_STATUS = :status
ORDER BY MCO_DTCOLET

[2020-08-24 10:20] #392 closed

[2020-08-24 15:26] mqus commented on #393
Please elaborate. What do you mean with "does not work"? Do you get an error message?
Another thing I notice in your case: we currently only support parameters being referenced in the same order as they're specified in the function(#224). This is being worked on in #361. So the first example might work if you use
[code]

(Btw, the `Future<List>` bit is also not correct but I assume that you are ju

[2020-08-24 17:24] claudneysessa commented on #393
Thanks for the guidance I didn't pay attention to the order of the parameters and this was the problem, thank you very much!

[2020-08-24 17:25] claudneysessa commented on #393
Thanks for the guidance I didn't pay attention to the order of the parameters and this was the problem, thank you very much!

[2020-08-24 21:34] claudneysessa commented on #393
Solved!

[2020-08-24 21:34] #393 closed

[2020-08-29 17:19] SchnMar commented on #389
Just upgraded my pub packages. I also had to add dependency overrides for dart_style now to version 1.3.6.

[code]

[2020-09-02 10:01] v75273278 opened #394 "Is there a method like replace. When we can't insert ,it will replace"
Is  there a method like replace.  When we can't insert ,it will replace

[2020-09-02 16:12] mqus commented on #394
Sure, you can use ´@Insert(OnConflictStrategy.replace)´ instead of ´@insert´.

[2020-09-02 23:57] v75273278 commented on #394
thx

[2020-09-04 06:26] ryanheise opened #395 "Is auto-creation of tables safe?"
Looking at an old floor project I wrote, it seems that tables in floor are automatically created based on annotations.

If memory serves, Room originally did it this way but then changed it to require you to explicitly create tables via migrations. The reason is that if a user downloads version 1 of the app and the tables are auto-created, then version 2 is released with further database changes i

[2020-09-04 08:55] mqus commented on #395
In our case the following should happen:

The tables are automatically created if there is no prior database. The database version is also written to the db.

Now, if the program opens the database and it already exists, it will check the database cersion stored in the db and compare it to the db version stored in the app code. If they are equal, everything is fine. If they are not, all migrations

[2020-09-04 09:26] ryanheise commented on #395
Just to understand clearly, do you mean that this is the only situation when tables are automatically created?

So in the scenario I described above, the new tables in version 2 would not be automatically created and you would have to explicitly create them in a migration (i.e. I would need to manually include a CREATE statement in my 1->2 migration)? So If so, then yes this solves the issue I men

[2020-09-04 16:05] nirjanmunshi commented on #389
Can you tell me the process of creating `database.g.dart` file. I am struggling with this. I have tried so many methods available on GitHub/StackOverFlow but after following those it comes out with an error.

[2020-09-04 20:00] mqus commented on #395
Assuming you had 2 versions of your app with different database versions 1 and 2. Lets go through the following two cases:
1. The user installs the app at version 1 and then updates to version two. At first, the database is created with the entities you had in your first database version and is migrated to version 2 after the update, using the migration you specified.
2. The user installs the app

[2020-09-04 20:33] mqus commented on #395
So I read https://developer.android.com/training/data-storage/room/migrating-db-versions and I couldn't see any explicit difference. Room *does* have more features, like configurable destructive migrations (we only fail) and an explicit order on which possible migrations are chosen(we have a more simple approach[1]). But apart from that this seems the same.

[1] Aside:If I look at floors code then

[2020-09-04 20:36] #394 closed

[2020-09-04 20:50] mqus commented on #389
You could start by posting the errors you get and which methods(of github and stackoverflow) you tried. I also think that it would be best if you create a new issue for this, but that decision is yours :)

[2020-09-05 01:04] ryanheise commented on #395
Just to clarify, the potential issue I described could only happen when you have at least 3 versions of the app, and a user misses the upgrade to 2, and migrates from 1 directly to 3. Can you verify/confirm in terms of this original 3 version scenario how new entities in versions 1 AND 2 get created for users who jump straight from version 1 to version 3?

[2020-09-09 08:17] rahuljidgedev opened #396 "Failed assertion: boolean expression must not be null"
Below is the logs when I run <B>flutter packages pub run build_runner build</B> command output:

[INFO] Starting Build

[INFO] Updating asset graph...
[INFO] Updating asset graph completed, took 2ms

[INFO] Running build...
[SEVERE] floor_generator:floor_generator on lib/database.dart:

Failed assertion: boolean expression must not be null
[INFO] Running build completed, took 58ms

[INFO] Caching

[2020-09-09 22:58] mqus commented on #396
On a quick first skim this looks like an issue with floors dependencies... I'll try to look into it more tomorrow or the day after.

[2020-09-10 03:54] rahuljidgedev commented on #396
@mqus, Thanks.  Yes. please take a look at it.  However, I've managed to fix the issue after debugging the dependencies.

The error is gone after I removed the following code from the pubspec.yml file:
<B>dependency_overrides:
analyzer: '0.40.2'</B>

I feel we must look for: <I>why is this behavior on adding the <b>analyzer: '0.40.2'</b> above dependency_overriedes.</I>

[2020-09-11 00:02] Bricktheworld commented on #213
Could you possibly give an example of how to use the DatabaseViews? I'm not sure how to go about doing a join @mqus

[2020-09-12 02:46] jiechic opened #397 "Which version is planned to support fts"
We use a room that supports fts on the native development of android. We hope to be able to migrate to flutter. Look for a flutter package similar to room on flutter. We found you
We would like to ask if there are plans to support fts

[2020-09-12 05:15] waiphyoaungec opened #398 "Query Compile Time Checking Not Working"

[2020-09-12 17:46] mqus commented on #397
Could you please expand on what fts is? It doesn't ring a bell immediately for me, sorry :)

And following that, since we are not room, you could also describe what you feel is missing from rooms fts feature(if that is possible) or what could be better. Maybe we could expand on that.

[2020-09-12 17:48] mqus commented on #398
Could you please expand on your issue? What did you want to achieve, what did you try, what did you expect and what happened? It would be best if you could also provide a reproducible example and some logs, to be able to help you quickly.

[2020-09-12 20:01] mqus commented on #397
So I actually looked it up now (should have done that before commenting, sry) and fts(full text search) is an optional sqlite module.

Afaict, this situation is the same as with the json extension: sqflite(our sqlite database driver) does not support it, so we also can't support it right now. I'm also not sure where the issue is(if this is already supported for all platforms that sqflite supports

[2020-09-12 23:39] mqus commented on #213
Let's go with the example above: there has to be a class which represents your result, like `CustomerOrder`. You have to annotate that class with `@DatabaseView('YOUR JOIN QUERY WITHOUT :PARAMETERS')` and add that view to the views field of the database annotation, like you would with an entity. The class for the exanple should look like the following(notice the missing where clause which previous

[2020-09-16 12:40] keval-d opened #399 "Auto-generated code issue of parameters' sequence"
This is Dao fun
[code]

this is auto generated code
[code]
It's taking fun parameters' sequence not in **Query sequence**

[2020-09-16 13:44] mqus commented on #399
This issue is known(#224) and will be solved with #361.

[2020-09-18 03:49] jiechic commented on #397
In the [official sqlite documentation](https://www.sqlite.org/fts3.html),
`FTS4 is an enhancement to FTS3. FTS3 has been available since SQLite version 3.5.0 (2007-09-04) The enhancements for FTS4 were added with SQLite version 3.7.4 (2010-12-07).`

on Android:
I found the [official document of android](https://developer.android.com/reference/android/database/sqlite/package-summary.html)
since and

[2020-09-18 04:11] jiechic commented on #397
and i see dart office package [sqlite3](https://pub.dev/packages/sqlite3) has new version for sqlite，i can support fts3、 fts4、fts5 on any platforms but not only android ，ios
this is only Suggest for floor update sqlite that has unified characteristics

[2020-09-19 04:03] Keithwachira opened #400 "Migrate (update) database view query"
i have an issue with adding a new column to the databaseview and updating the query in a databaseview.Whenever i add a new column or update the databaseview query,the change does not take place until i uninstall the app.This is after even running the build_runner.

[2020-09-19 07:15] mqus commented on #400
Yeah, new changes to entities and views are not automatically migrated. Although views could be migrated automatically with no downsides this wasn't implemented yet. You'll either have to write a migration or delete the app data between version updates of your app.

[2020-09-19 08:15] Keithwachira commented on #400
Thank you for the response.....anyway i have found a way to solve this.
create a migration that will drop the view and recreate it a fresh.

`1.await database.execute('DROP VIEW IF EXISTS view_name');`
`2.await database.execute('CREATE VIEW IF NOT EXISTS `viewname........`

[2020-09-21 06:38] MrCsabaToth opened #401 "Generated row -> entity object mapper is missing a mapping for the primary key"
https://stackoverflow.com/questions/63986924/why-flutter-floor-dao-findall-returns-entity-set-with-null-ids

I have an entity with an auto increment id:

[code]

I have this DAO:

[code]

In my app I recorded five activities so far, hunky-dory.

    _database =
        await $FloorAppDatabase.databaseBuilder('app_database.db').build();
    ...
        _activity =
           Activity(deviceName: de

[2020-09-21 07:00] MrCsabaToth commented on #401
I needed them as a constructor argument.

[2020-09-21 07:00] #401 closed

[2020-09-27 05:20] siluvana commented on #174
Run into the same issue. For future devs: my problem was a query returning a type that I forgot to add into entities list in @Database.

[2020-09-28 20:40] cassioseffrin commented on #256
Hello,

Any news about  ColumnInfo.defaultValue?

[2020-10-02 02:10] phimath commented on #228
I see this is closed for support for desktop and mobile, but what about web support?  Moor has support for web using IndexedDb under the hood.  Is there any chance of web support in the future?

[2020-10-02 13:26] vitusortner commented on #228
Web support would be awesome, I agree! The project is open to contributions.

[2020-10-06 10:36] nawinkhatiwada commented on #374
@mqus Has this feature been released?

[2020-10-06 12:46] pablo-johnson commented on #165
Hi, is there an ETA for this? thanks for your great work!

[2020-10-06 13:50] mqus commented on #374
No. The review is still pending.

[2020-10-08 04:54] ryanheise opened #402 "Document that named query parameters are positional parameters"
The following doesn't do what people might expect given a prior understanding of how named parameters get bound:

[code]

It will be converted to `update foo set prop = ? where prop = ?` with values in parameter order: `[oldValue, newValue]`.

I'm sure you're on top of this for a future release, but in the short term it could be a life saver to document this behaviour.

Maybe related: #142 , #321

[2020-10-10 21:26] stillie commented on #165
Any ETA on the release? I started implementing this library in my one project only to find out later that it doesnt cater for this? Sorry but I am going to have to find another library in the mean time

[2020-10-11 14:45] vitusortner commented on #165
Thanks for your interest in this feature. I'll create a new release ASAP that contains an experimental implementation of type converters. You can follow the progress here #318.

[2020-10-11 15:20] vitusortner opened #403 "Support list type converters"
E.g. converting a list of strings into a string of comma-separated values is an interesting use case for type converters as it allows to overcome some of the differences between the object-oriented and relation model.

Type converters have initially been introduced in #318.

[2020-10-13 07:51] proninyaroslav opened #405 "analyzer 0.40.x support in floor_generator"
Unfortunately I cannot use `analyzer 0.40.x`:
[code]

[2020-10-13 10:08] aarajput commented on #396
I am facing same issue.
Any update?

[2020-10-13 17:13] vitusortner commented on #405
The next release will contain updated dependencies ✔️

[2020-10-14 03:57] jiechic commented on #397
have any plan for this？

[2020-10-14 19:22] #405 closed

[2020-10-15 06:24] jiechic commented on #397
I send a pull request #407 for support this

[2020-10-15 07:46] proninyaroslav opened #408 "floor_generator periodically gets stuck"
**Flutter**: 1.22.1
**Dart**: 2.10.
**floor_generator**: 0.14.0
**build_runner**: 1.10.2
**analyzer**: 0.39.17

Hi. I noticed this exception lately which causes `build_runner` to get stuck.
It seems that this appeared after upgrading `build_runner` from `1.10.1` to `1.10.2` or after upgrading the project to Flutter 1.22 and Dart 2.10.
[code]

[2020-10-15 13:11] vitusortner commented on #408
The next release (0.15.0) will come with updated dependencies #406 which should resolve this issue. You can use this version already if you close this repository and directly link it to your project. The new release will be available tonight.